{
  "openapi": "3.0.0",
  "info": {
    "title": "AI Dialogue",
    "version": "1.0.0",
    "description": "API reference for AI Dialogue on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/aichat/conversations": {
      "post": {
        "summary": "Conversations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "id": "64a67fff-61dc-4801-8339-2c69334c61d6",
                    "answer": "I am a highly intelligent question answering AI. If you ask me a question, I will do my best to give you a helpful answer."
                  },
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the conversation."
                    },
                    "answer": {
                      "type": "string",
                      "description": "The generated answer for the given prompt."
                    }
                  }
                }
              }
            },
            "description": "OK, the request was successful."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json",
                "application/x-ndjson"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "question",
                  "model"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The unique identifier of the conversation."
                  },
                  "model": {
                    "enum": [
                      "gpt-5.1",
                      "gpt-5.1-all",
                      "gpt-5",
                      "gpt-5-mini",
                      "gpt-5-nano",
                      "gpt-5-all",
                      "gpt-4",
                      "gpt-4-all",
                      "gpt-4-turbo",
                      "gpt-4-turbo-preview",
                      "gpt-4-vision-preview",
                      "gpt-4.1",
                      "gpt-4.1-2025-04-14",
                      "gpt-4.1-mini",
                      "gpt-4.1-mini-2025-04-14",
                      "gpt-4.1-nano",
                      "gpt-4.1-nano-2025-04-14",
                      "gpt-4.5-preview",
                      "gpt-4.5-preview-2025-02-27",
                      "gpt-4o",
                      "gpt-4o-2024-05-13",
                      "gpt-4o-2024-08-06",
                      "gpt-4o-2024-11-20",
                      "gpt-4o-all",
                      "gpt-4o-image",
                      "gpt-4o-mini",
                      "gpt-4o-mini-2024-07-18",
                      "gpt-4o-mini-search-preview",
                      "gpt-4o-mini-search-preview-2025-03-11",
                      "gpt-4o-search-preview",
                      "gpt-4o-search-preview-2025-03-11",
                      "o1",
                      "o1-2024-12-17",
                      "o1-all",
                      "o1-mini",
                      "o1-mini-2024-09-12",
                      "o1-mini-all",
                      "o1-preview",
                      "o1-preview-2024-09-12",
                      "o1-preview-all",
                      "o1-pro",
                      "o1-pro-2025-03-19",
                      "o1-pro-all",
                      "o3",
                      "o3-2025-04-16",
                      "o3-all",
                      "o3-mini",
                      "o3-mini-2025-01-31",
                      "o3-mini-2025-01-31-high",
                      "o3-mini-2025-01-31-low",
                      "o3-mini-2025-01-31-medium",
                      "o3-mini-all",
                      "o3-mini-high",
                      "o3-mini-high-all",
                      "o3-mini-low",
                      "o3-mini-medium",
                      "o3-pro",
                      "o3-pro-2025-06-10",
                      "o4-mini",
                      "o4-mini-2025-04-16",
                      "o4-mini-all",
                      "o4-mini-high-all",
                      "deepseek-r1",
                      "deepseek-r1-0528",
                      "deepseek-v3",
                      "deepseek-v3-250324",
                      "grok-3",
                      "glm-5.1",
                      "glm-5-turbo",
                      "glm-5",
                      "glm-4.7",
                      "glm-4.6",
                      "glm-4-flash",
                      "glm-4-air",
                      "glm-4.5v",
                      "glm-4.5-air",
                      "glm-4.5",
                      "glm-4-plus",
                      "glm-3-turbo"
                    ],
                    "type": "string",
                    "description": "The model to be used for answering the prompt."
                  },
                  "preset": {
                    "type": "string",
                    "description": "The preset model to be used for answering the prompt."
                  },
                  "question": {
                    "type": "string",
                    "description": "The prompt or question to be answered."
                  },
                  "stateful": {
                    "type": "boolean",
                    "description": "Whether to use the stateful conversation or not."
                  },
                  "references": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "The references or sources to be used for answering the prompt."
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "description": "Use Large Language Model to generate answers for the given prompt, which can supports all kind of models, such as GPT-3, GPT-4, GPT-4-Browsing, etc"
      }
    }
  },
  "tags": [
    {
      "name": "AI Dialogue"
    }
  ]
}