{
  "openapi": "3.0.0",
  "info": {
    "title": "Discord Agent Proxy",
    "version": "1.0.0",
    "description": "API reference for Discord Agent Proxy on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/whoami": {
      "get": {
        "summary": "查看当前账号",
        "description": "Deployment Discord Bot Return The Discord Account Connected To This Proxy",
        "responses": {
          "200": {
            "description": "Deployment Discord Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Discord Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Discord Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Discord Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Discord Bot The Requested Discord Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Discord Bot Discord Rate Limit Reached Wait For Retry After Before Retry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Discord Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Discord Bot Discord Rejected The Request Or Returned An Unexpected Respo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Discord Bot The Discord Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "DiscordAgentProxygetApiWhoami"
      }
    },
    "/api/guilds": {
      "get": {
        "summary": "列出服务器",
        "description": "Deployment Discord Bot List The Discord Servers Joined By The Connected Account",
        "responses": {
          "200": {
            "description": "Deployment Discord Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Discord Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Discord Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Discord Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Discord Bot The Requested Discord Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Discord Bot Discord Rate Limit Reached Wait For Retry After Before Retry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Discord Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Discord Bot Discord Rejected The Request Or Returned An Unexpected Respo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Discord Bot The Discord Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "DiscordAgentProxygetApiGuilds"
      }
    },
    "/api/guilds/{guild_id}/channels": {
      "post": {
        "summary": "创建文字频道",
        "description": "Deployment Discord Bot Create A Text Channel In A Discord Server The Account Needs ",
        "responses": {
          "200": {
            "description": "Deployment Discord Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Discord Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Discord Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Discord Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Discord Bot The Requested Discord Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Discord Bot Discord Rate Limit Reached Wait For Retry After Before Retry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Discord Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Discord Bot Discord Rejected The Request Or Returned An Unexpected Respo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Discord Bot The Discord Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "DiscordAgentProxycreateApiGuildsGuildIdChannels",
        "parameters": [
          {
            "name": "guild_id",
            "in": "path",
            "required": true,
            "description": "Deployment Discord Bot Discord Server Id",
            "schema": {
              "type": "string",
              "example": "123456789012345678"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Deployment Discord Bot Name Of The New Text Channel",
                    "example": "project-updates"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        }
      }
    },
    "/api/guilds/{guild_id}/members": {
      "get": {
        "summary": "列出服务器成员",
        "description": "Deployment Discord Bot List Members Of A Discord Server",
        "responses": {
          "200": {
            "description": "Deployment Discord Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Discord Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Discord Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Discord Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Discord Bot The Requested Discord Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Discord Bot Discord Rate Limit Reached Wait For Retry After Before Retry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Discord Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Discord Bot Discord Rejected The Request Or Returned An Unexpected Respo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Discord Bot The Discord Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "DiscordAgentProxygetApiGuildsGuildIdMembers",
        "parameters": [
          {
            "name": "guild_id",
            "in": "path",
            "required": true,
            "description": "Deployment Discord Bot Discord Server Id",
            "schema": {
              "type": "string",
              "example": "123456789012345678"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Deployment Discord Bot Maximum Number Of Members To Return Defaults To 100",
            "schema": {
              "type": "integer",
              "example": 100
            }
          }
        ]
      }
    },
    "/api/messages": {
      "post": {
        "summary": "发送消息",
        "description": "Deployment Discord Bot Send A Message To A Channel Or Direct Message Conversation A",
        "responses": {
          "200": {
            "description": "Deployment Discord Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Discord Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Discord Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Discord Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Discord Bot The Requested Discord Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Discord Bot Discord Rate Limit Reached Wait For Retry After Before Retry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Discord Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Discord Bot Discord Rejected The Request Or Returned An Unexpected Respo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Discord Bot The Discord Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "DiscordAgentProxycreateApiMessages",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "channel_id": {
                    "type": "string",
                    "description": "Deployment Discord Bot Destination Channel Id",
                    "example": "123456789012345678"
                  },
                  "content": {
                    "type": "string",
                    "description": "Deployment Discord Bot Message Text",
                    "example": "Hello from Ace Data Cloud"
                  },
                  "reply_to": {
                    "type": "string",
                    "description": "Deployment Discord Bot Optional Message Id To Reply To",
                    "example": "123456789012345678"
                  }
                },
                "required": [
                  "channel_id",
                  "content"
                ]
              }
            }
          }
        }
      }
    },
    "/api/channels/{channel_id}/messages": {
      "get": {
        "summary": "读取频道消息",
        "description": "Deployment Discord Bot Read Recent Messages From A Channel Or Direct Message Conver",
        "responses": {
          "200": {
            "description": "Deployment Discord Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Discord Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Discord Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Discord Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Discord Bot The Requested Discord Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Discord Bot Discord Rate Limit Reached Wait For Retry After Before Retry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Discord Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Discord Bot Discord Rejected The Request Or Returned An Unexpected Respo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Discord Bot The Discord Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "DiscordAgentProxygetApiChannelsChannelIdMessages",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "description": "Deployment Discord Bot Discord Channel Id",
            "schema": {
              "type": "string",
              "example": "123456789012345678"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Deployment Discord Bot Maximum Number Of Messages To Return Defaults To 50 And Is C",
            "schema": {
              "type": "integer",
              "example": 50
            }
          }
        ]
      }
    },
    "/api/channels/{channel_id}/messages/search": {
      "get": {
        "summary": "搜索频道消息",
        "description": "Deployment Discord Bot Search Recent Messages In A Channel By Text",
        "responses": {
          "200": {
            "description": "Deployment Discord Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Discord Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Discord Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Discord Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Discord Bot The Requested Discord Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Discord Bot Discord Rate Limit Reached Wait For Retry After Before Retry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Discord Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Discord Bot Discord Rejected The Request Or Returned An Unexpected Respo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Discord Bot The Discord Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "DiscordAgentProxygetApiChannelsChannelIdMessagesSearch",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "description": "Deployment Discord Bot Discord Channel Id",
            "schema": {
              "type": "string",
              "example": "123456789012345678"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Deployment Discord Bot Text To Search For",
            "schema": {
              "type": "string",
              "example": "release date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Deployment Discord Bot Maximum Number Of Matching Messages Defaults To 25",
            "schema": {
              "type": "integer",
              "example": 25
            }
          }
        ]
      }
    },
    "/api/channels/{channel_id}/messages/{message_id}": {
      "delete": {
        "summary": "删除消息",
        "description": "Deployment Discord Bot Delete A Message Deleting Another Member S Message Requires ",
        "responses": {
          "200": {
            "description": "Deployment Discord Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Discord Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Discord Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Discord Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Discord Bot The Requested Discord Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Discord Bot Discord Rate Limit Reached Wait For Retry After Before Retry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Discord Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Discord Bot Discord Rejected The Request Or Returned An Unexpected Respo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Discord Bot The Discord Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "DiscordAgentProxydeleteApiChannelsChannelIdMessagesMessageId",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "description": "Deployment Discord Bot Discord Channel Id",
            "schema": {
              "type": "string",
              "example": "123456789012345678"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "description": "Deployment Discord Bot Discord Message Id",
            "schema": {
              "type": "string",
              "example": "123456789012345678"
            }
          }
        ]
      }
    },
    "/api/channels/{channel_id}/messages/{message_id}/reactions": {
      "post": {
        "summary": "添加表情回应",
        "description": "Deployment Discord Bot Add A Unicode Or Custom Emoji Reaction To A Message",
        "responses": {
          "200": {
            "description": "Deployment Discord Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Discord Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Discord Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Discord Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Discord Bot The Requested Discord Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Discord Bot Discord Rate Limit Reached Wait For Retry After Before Retry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Discord Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Discord Bot Discord Rejected The Request Or Returned An Unexpected Respo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Discord Bot The Discord Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "DiscordAgentProxycreateApiChannelsChannelIdMessagesMessageIdReactions",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "description": "Deployment Discord Bot Discord Channel Id",
            "schema": {
              "type": "string",
              "example": "123456789012345678"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "description": "Deployment Discord Bot Discord Message Id",
            "schema": {
              "type": "string",
              "example": "123456789012345678"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emoji": {
                    "type": "string",
                    "description": "Deployment Discord Bot Unicode Emoji Or Custom Emoji In Name Id Form",
                    "example": "👍"
                  }
                },
                "required": [
                  "emoji"
                ]
              }
            }
          }
        }
      }
    },
    "/api/channels/{channel_id}/messages/{message_id}/pin": {
      "post": {
        "summary": "置顶消息",
        "description": "Deployment Discord Bot Pin A Message In Its Channel",
        "responses": {
          "200": {
            "description": "Deployment Discord Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Discord Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Discord Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Discord Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Discord Bot The Requested Discord Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Discord Bot Discord Rate Limit Reached Wait For Retry After Before Retry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Discord Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Discord Bot Discord Rejected The Request Or Returned An Unexpected Respo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Discord Bot The Discord Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "DiscordAgentProxycreateApiChannelsChannelIdMessagesMessageIdPin",
        "parameters": [
          {
            "name": "channel_id",
            "in": "path",
            "required": true,
            "description": "Deployment Discord Bot Discord Channel Id",
            "schema": {
              "type": "string",
              "example": "123456789012345678"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "description": "Deployment Discord Bot Discord Message Id",
            "schema": {
              "type": "string",
              "example": "123456789012345678"
            }
          }
        ]
      }
    },
    "/api/dms": {
      "post": {
        "summary": "创建私聊",
        "description": "Deployment Discord Bot Open Or Return A Direct Message Channel With A Discord User",
        "responses": {
          "200": {
            "description": "Deployment Discord Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Discord Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Discord Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Discord Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Discord Bot The Requested Discord Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Discord Bot Discord Rate Limit Reached Wait For Retry After Before Retry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Discord Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Discord Bot Discord Rejected The Request Or Returned An Unexpected Respo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Discord Bot The Discord Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "DiscordAgentProxycreateApiDms",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipient_id": {
                    "type": "string",
                    "description": "Deployment Discord Bot Recipient Discord User Id",
                    "example": "123456789012345678"
                  }
                },
                "required": [
                  "recipient_id"
                ]
              }
            }
          }
        }
      }
    },
    "/api/dms/send": {
      "post": {
        "summary": "发送私信",
        "description": "Deployment Discord Bot Send A Direct Message To A Discord User",
        "responses": {
          "200": {
            "description": "Deployment Discord Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Discord Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Discord Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Discord Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Discord Bot The Requested Discord Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Discord Bot Discord Rate Limit Reached Wait For Retry After Before Retry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Discord Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Discord Bot Discord Rejected The Request Or Returned An Unexpected Respo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Discord Bot The Discord Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Discord Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Discord Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "DiscordAgentProxycreateApiDmsSend",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipient_id": {
                    "type": "string",
                    "description": "Deployment Discord Bot Recipient Discord User Id",
                    "example": "123456789012345678"
                  },
                  "content": {
                    "type": "string",
                    "description": "Deployment Discord Bot Direct Message Text",
                    "example": "Hello"
                  }
                },
                "required": [
                  "recipient_id",
                  "content"
                ]
              }
            }
          }
        }
      }
    }
  }
}
