{
  "openapi": "3.0.0",
  "info": {
    "title": "Dreamina",
    "version": "1.0.0",
    "description": "API reference for Dreamina on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/dreamina/videos": {
      "post": {
        "summary": "Dreamina Video Generation API",
        "description": "Dreamina Videos",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "image_url",
                  "audio_url"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "omnihuman-1.5"
                    ],
                    "default": "omnihuman-1.5",
                    "description": "Dreamina Videos Model"
                  },
                  "image_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Dreamina Videos Image Url"
                  },
                  "audio_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Dreamina Videos Audio Url"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Dreamina Videos Prompt"
                  },
                  "mask_url": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "description": "Dreamina Videos Mask Url"
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Dreamina Videos Callback Url"
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Dreamina Videos Async"
                  }
                }
              },
              "example": {
                "model": "omnihuman-1.5",
                "image_url": "https://cdn.acedata.cloud/4hfydw.jpg",
                "audio_url": "https://cdn1.suno.ai/1b694cae-8b5f-424f-a5bf-2f27b7697843.mp3"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dreamina Videos Response 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "task_id": "0c0b4d3a-2f1e-4a6b-9c2d-2b3c4d5e6f70",
                    "trace_id": "a9063166-26ed-4451-85b5-54e896817c69",
                    "data": {
                      "task_id": "362b4fed67bd11f1ad1100163e57d510",
                      "status": "done",
                      "video_url": "https://cdn.acedata.cloud/634d760216.mp4",
                      "image_url": "https://cdn.acedata.cloud/4hfydw.jpg",
                      "audio_url": "https://cdn.acedata.cloud/6f7d62b18b.wav"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Dreamina Videos Response 400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": {
                      "code": "bad_request",
                      "message": "image_url is required (a public URL of a portrait image)"
                    },
                    "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Dreamina Videos Response 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": {
                      "code": "authorization_missing",
                      "message": "Authorization header is missing."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Dreamina Videos Response 403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": {
                      "code": "forbidden",
                      "message": "volcengine access key is invalid or not authorized for omnihuman"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Dreamina Videos Response 429",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": {
                      "code": "too_many_requests",
                      "message": "too many requests, please try again later"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Dreamina Videos Response 500",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": {
                      "code": "api_error",
                      "message": "internal server error, please contact admin"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
