{
  "openapi": "3.0.0",
  "info": {
    "title": "hCaptcha verification code recognition service",
    "version": "1.0.0",
    "description": "API reference for hCaptcha verification code recognition service on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/captcha/recognition/hcaptcha": {
      "post": {
        "summary": "Recognition Hcaptcha",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "solution": {
                      "box": [
                        "565",
                        "140"
                      ],
                      "label": "Please click the center of the seahorses head",
                      "confidences": 0.7175476551055908
                    }
                  },
                  "properties": {
                    "solution": {
                      "type": "object",
                      "items": {
                        "type": "object",
                        "properties": {
                          "box": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "You need to click on the location coordinate information in the hCaptcha."
                          },
                          "label": {
                            "type": "string",
                            "description": "The name of the class to be identified by the hCaptcha."
                          },
                          "confidence": {
                            "type": "number",
                            "description": "The confidence level of each region after verification code identification."
                          }
                        }
                      },
                      "description": "Classification result."
                    }
                  }
                }
              }
            },
            "description": "OK, the request is successful."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "disabled",
                          "message": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "disabled",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "model is invalid."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "model is invalid.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_token",
                          "message": "No token specified for the request."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "No token specified for the request.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_expired",
                          "message": "token expired."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_expired",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "token expired.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "token and api does not match."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "token and api does not match.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "used_up",
                          "message": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "used_up",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_api",
                          "message": "API does not exist, please make sure url is correct."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_api",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "API does not exist, please make sure url is correct.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "queries": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Base64 encoded verification code image, get the nine small images on the captcha and combine the images in a list form."
                  },
                  "question": {
                    "type": "string",
                    "description": "For question id, please refer to the table,Support Chinese and English, other languages please convert."
                  }
                }
              }
            }
          },
          "required": true
        },
        "description": "hCaptcha image recognition ap i, pass in the content to be recognized and the image of hCaptcha, return the small map coordinates that need to be clicked."
      }
    },
    "/captcha/token/hcaptcha": {
      "post": {
        "summary": "Token Hcaptcha",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "token": "P1_eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni......"
                  },
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "Verification result."
                    }
                  }
                }
              }
            },
            "description": "OK, the request is successful."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "disabled",
                          "message": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "disabled",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "model is invalid."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "model is invalid.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_token",
                          "message": "No token specified for the request."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "No token specified for the request.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_expired",
                          "message": "token expired."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_expired",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "token expired.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "token and api does not match."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "token and api does not match.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "used_up",
                          "message": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "used_up",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_api",
                          "message": "API does not exist, please make sure url is correct."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_api",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "API does not exist, please make sure url is correct.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "website_key",
                  "website_url"
                ],
                "properties": {
                  "website_key": {
                    "type": "string",
                    "example": "a5f74b19-9e45-40e0-b45d-47ff91b7a6c2",
                    "description": "The website key identifier in recaptcha."
                  },
                  "website_url": {
                    "type": "string",
                    "example": "https://accounts.hcaptcha.com/demo",
                    "description": "URL of the website where the recaptcha is located."
                  }
                }
              }
            }
          },
          "required": true
        },
        "description": "hCaptcha verification code identification api, using this api users do not need to identify and click the image of the hCaptcha verification code, just by submitting the website key can realize the background automatic decoding, complete the verification."
      }
    }
  },
  "tags": [
    {
      "name": "hCaptcha verification code recognition service"
    }
  ]
}