{
  "openapi": "3.0.0",
  "info": {
    "title": "hCaptcha verification code recognition service",
    "version": "1.0.0",
    "description": "API reference for hCaptcha verification code recognition service on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/captcha/tasks": {
      "post": {
        "summary": "Tasks",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "task_id": "61138bb6-19aa-11ec-a9c8-0242ac110002",
                    "status": "ready",
                    "token": "P1_eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni......"
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the query succeeded."
                    },
                    "task_id": {
                      "type": "string",
                      "description": "The task id being polled."
                    },
                    "started_at": {
                      "type": "number",
                      "description": "When the task began processing, as a Unix timestamp in seconds (float)."
                    },
                    "finished_at": {
                      "type": "number",
                      "description": "When the task produced its result, as a Unix timestamp in seconds (float). Absent while the task is still processing."
                    },
                    "elapsed": {
                      "type": "number",
                      "description": "Processing time in seconds (float, 3 decimals). Absent while the task is still processing."
                    },
                    "trace_id": {
                      "type": "string",
                      "description": "本次请求的追踪 ID，排查问题时提供给技术支持。"
                    },
                    "type": {
                      "type": "string",
                      "description": "任务类型。"
                    },
                    "user_id": {
                      "type": "string",
                      "description": "发起该任务的账号 ID。"
                    },
                    "actor_user_id": {
                      "type": "string",
                      "description": "实际执行者的账号 ID。通过授权代发时与 `user_id` 不同。"
                    },
                    "api_id": {
                      "type": "string",
                      "description": "该任务所属接口的 ID。"
                    },
                    "application_id": {
                      "type": "string",
                      "description": "该任务计费所用应用的 ID。"
                    },
                    "credential_id": {
                      "type": "string",
                      "description": "发起该任务所用凭证的 ID。"
                    },
                    "authorization_id": {
                      "type": "string",
                      "description": "该任务使用的授权 ID。未通过授权发起时为 null。"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "processing",
                        "ready"
                      ],
                      "description": "Task state. 'processing' means keep polling; 'ready' means the token field is populated."
                    },
                    "token": {
                      "type": "string",
                      "description": "The solved verification token (token APIs). Present only when status is 'ready'."
                    },
                    "solution": {
                      "type": "object",
                      "description": "The recognition result for recognition/recaptcha2 and recognition/hcaptcha. Present only when status is 'ready'."
                    },
                    "text": {
                      "type": "string",
                      "description": "The recognized text for recognition/image2text. Present only when status is 'ready'."
                    }
                  }
                }
              }
            },
            "description": "OK, the request is successful."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": {
                      "code": "invalid_query",
                      "message": "no task_id specified"
                    },
                    "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                  }
                }
              }
            },
            "description": "Bad request, possibly due to a missing task_id."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": {
                      "code": "invalid_token",
                      "message": "The specified token is invalid or wrong."
                    },
                    "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                  }
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": {
                      "code": "not_found",
                      "message": "task not found"
                    },
                    "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                  }
                }
              }
            },
            "description": "The specified task_id does not exist."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "task_id"
                ],
                "properties": {
                  "task_id": {
                    "type": "string",
                    "example": "61138bb6-19aa-11ec-a9c8-0242ac110002",
                    "description": "The task id returned when a token API was called with async=true."
                  }
                }
              }
            }
          },
          "required": true
        },
        "description": "Poll the result of an asynchronous captcha task. Submit the task_id returned by any captcha API (token or recognition) called with async=true; the response reports status 'processing' until solved, then returns the result — token for token APIs, solution for recognition classification, or text for image2text. Billing happens once, only when the task is successfully solved."
      }
    },
    "/captcha/recognition/hcaptcha": {
      "post": {
        "summary": "Recognition Hcaptcha",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "solution": {
                      "box": [
                        "565",
                        "140"
                      ],
                      "label": "Please click the center of the seahorses head",
                      "confidences": 0.7175476551055908
                    },
                    "elapsed": 31.6
                  },
                  "properties": {
                    "solution": {
                      "type": "object",
                      "items": {
                        "type": "object",
                        "properties": {
                          "box": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            },
                            "description": "Captcha Recognition Hcaptcha Response 200 Solution Box"
                          },
                          "label": {
                            "type": "string",
                            "description": "Captcha Recognition Hcaptcha Response 200 Solution Label"
                          },
                          "confidence": {
                            "type": "number",
                            "description": "Captcha Recognition Hcaptcha Response 200 Solution Confidence"
                          }
                        }
                      },
                      "description": "Captcha Recognition Hcaptcha Response 200 Solution"
                    },
                    "started_at": {
                      "type": "number",
                      "example": "2026-07-24T09:34:13+00:00",
                      "description": "Captcha Recognition Hcaptcha Response 200 Started At"
                    },
                    "finished_at": {
                      "type": "number",
                      "example": "2026-07-24T09:34:50+00:00",
                      "description": "Captcha Recognition Hcaptcha Response 200 Finished At"
                    },
                    "elapsed": {
                      "type": "number",
                      "example": 31.6,
                      "description": "Captcha Recognition Hcaptcha Response 200 Elapsed"
                    }
                  }
                }
              }
            },
            "description": "Captcha Recognition Hcaptcha Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Captcha Recognition Hcaptcha Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Captcha Recognition Hcaptcha Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Recognition Hcaptcha Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Captcha Recognition Hcaptcha Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Captcha Recognition Hcaptcha Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Recognition Hcaptcha Response 400 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "disabled",
                          "message": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "disabled",
                              "description": "Captcha Recognition Hcaptcha Response 400 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information.",
                              "description": "Captcha Recognition Hcaptcha Response 400 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Recognition Hcaptcha Response 400 Trace Id 3"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "model is invalid."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Captcha Recognition Hcaptcha Response 400 Error Code 4"
                            },
                            "message": {
                              "type": "string",
                              "example": "model is invalid.",
                              "description": "Captcha Recognition Hcaptcha Response 400 Error Message 4"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Recognition Hcaptcha Response 400 Trace Id 4"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_token",
                          "message": "No token specified for the request."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_token",
                              "description": "Captcha Recognition Hcaptcha Response 400 Error Code 5"
                            },
                            "message": {
                              "type": "string",
                              "example": "No token specified for the request.",
                              "description": "Captcha Recognition Hcaptcha Response 400 Error Message 5"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Recognition Hcaptcha Response 400 Trace Id 5"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Captcha Recognition Hcaptcha Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Captcha Recognition Hcaptcha Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Captcha Recognition Hcaptcha Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Recognition Hcaptcha Response 401 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_expired",
                          "message": "token expired."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_expired",
                              "description": "Captcha Recognition Hcaptcha Response 401 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "token expired.",
                              "description": "Captcha Recognition Hcaptcha Response 401 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Recognition Hcaptcha Response 401 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "token and api does not match."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Captcha Recognition Hcaptcha Response 401 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "token and api does not match.",
                              "description": "Captcha Recognition Hcaptcha Response 401 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Recognition Hcaptcha Response 401 Trace Id 3"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Captcha Recognition Hcaptcha Response 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "used_up",
                          "message": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "used_up",
                              "description": "Captcha Recognition Hcaptcha Response 403 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud.",
                              "description": "Captcha Recognition Hcaptcha Response 403 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Recognition Hcaptcha Response 403 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Captcha Recognition Hcaptcha Response 403"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_api",
                          "message": "API does not exist, please make sure url is correct."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_api",
                              "description": "Captcha Recognition Hcaptcha Response 404 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "API does not exist, please make sure url is correct.",
                              "description": "Captcha Recognition Hcaptcha Response 404 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Recognition Hcaptcha Response 404 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Captcha Recognition Hcaptcha Response 404"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Captcha Recognition Hcaptcha Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Captcha Recognition Hcaptcha Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Recognition Hcaptcha Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Captcha Recognition Hcaptcha Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Captcha Recognition Hcaptcha Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Captcha Recognition Hcaptcha Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Recognition Hcaptcha Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Captcha Recognition Hcaptcha Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Captcha Recognition Hcaptcha Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "queries": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Captcha Recognition Hcaptcha Queries"
                  },
                  "question": {
                    "type": "string",
                    "description": "Captcha Recognition Hcaptcha Question"
                  },
                  "async": {
                    "type": "boolean",
                    "example": false,
                    "default": false,
                    "description": "Captcha Recognition Hcaptcha Async 266"
                  }
                }
              }
            }
          },
          "required": true
        },
        "description": "hCaptcha image recognition ap i, pass in the content to be recognized and the image of hCaptcha, return the small map coordinates that need to be clicked."
      }
    },
    "/captcha/token/hcaptcha": {
      "post": {
        "summary": "Token Hcaptcha",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "token": "P1_eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1Ni......",
                    "elapsed": 31.6
                  },
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "Captcha Token Hcaptcha Response 200 Token"
                    },
                    "started_at": {
                      "type": "number",
                      "example": "2026-07-24T09:34:13+00:00",
                      "description": "Captcha Token Hcaptcha Response 200 Started At"
                    },
                    "finished_at": {
                      "type": "number",
                      "example": "2026-07-24T09:34:50+00:00",
                      "description": "Captcha Token Hcaptcha Response 200 Finished At"
                    },
                    "elapsed": {
                      "type": "number",
                      "example": 31.6,
                      "description": "Captcha Token Hcaptcha Response 200 Elapsed"
                    }
                  }
                }
              }
            },
            "description": "Captcha Token Hcaptcha Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Captcha Token Hcaptcha Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Captcha Token Hcaptcha Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Token Hcaptcha Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Captcha Token Hcaptcha Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Captcha Token Hcaptcha Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Token Hcaptcha Response 400 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "disabled",
                          "message": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "disabled",
                              "description": "Captcha Token Hcaptcha Response 400 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information.",
                              "description": "Captcha Token Hcaptcha Response 400 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Token Hcaptcha Response 400 Trace Id 3"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "model is invalid."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Captcha Token Hcaptcha Response 400 Error Code 4"
                            },
                            "message": {
                              "type": "string",
                              "example": "model is invalid.",
                              "description": "Captcha Token Hcaptcha Response 400 Error Message 4"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Token Hcaptcha Response 400 Trace Id 4"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_token",
                          "message": "No token specified for the request."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_token",
                              "description": "Captcha Token Hcaptcha Response 400 Error Code 5"
                            },
                            "message": {
                              "type": "string",
                              "example": "No token specified for the request.",
                              "description": "Captcha Token Hcaptcha Response 400 Error Message 5"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Token Hcaptcha Response 400 Trace Id 5"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Captcha Token Hcaptcha Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Captcha Token Hcaptcha Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Captcha Token Hcaptcha Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Token Hcaptcha Response 401 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_expired",
                          "message": "token expired."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_expired",
                              "description": "Captcha Token Hcaptcha Response 401 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "token expired.",
                              "description": "Captcha Token Hcaptcha Response 401 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Token Hcaptcha Response 401 Trace Id 2"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "token and api does not match."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Captcha Token Hcaptcha Response 401 Error Code 3"
                            },
                            "message": {
                              "type": "string",
                              "example": "token and api does not match.",
                              "description": "Captcha Token Hcaptcha Response 401 Error Message 3"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Token Hcaptcha Response 401 Trace Id 3"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Captcha Token Hcaptcha Response 401"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "used_up",
                          "message": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "used_up",
                              "description": "Captcha Token Hcaptcha Response 403 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud.",
                              "description": "Captcha Token Hcaptcha Response 403 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Token Hcaptcha Response 403 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Captcha Token Hcaptcha Response 403"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_api",
                          "message": "API does not exist, please make sure url is correct."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_api",
                              "description": "Captcha Token Hcaptcha Response 404 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "API does not exist, please make sure url is correct.",
                              "description": "Captcha Token Hcaptcha Response 404 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Token Hcaptcha Response 404 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Captcha Token Hcaptcha Response 404"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Captcha Token Hcaptcha Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Captcha Token Hcaptcha Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Token Hcaptcha Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Captcha Token Hcaptcha Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Captcha Token Hcaptcha Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Captcha Token Hcaptcha Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Captcha Token Hcaptcha Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Captcha Token Hcaptcha Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Captcha Token Hcaptcha Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "website_key",
                  "website_url"
                ],
                "properties": {
                  "website_key": {
                    "type": "string",
                    "example": "a5f74b19-9e45-40e0-b45d-47ff91b7a6c2",
                    "description": "Captcha Token Hcaptcha Website Key"
                  },
                  "website_url": {
                    "type": "string",
                    "example": "https://accounts.hcaptcha.com/demo",
                    "description": "Captcha Token Hcaptcha Website Url"
                  },
                  "rqdata": {
                    "type": "string",
                    "description": "Captcha Token Hcaptcha Rqdata"
                  },
                  "proxy": {
                    "type": "string",
                    "example": "http://user:pass@1.2.3.4:8080",
                    "description": "Captcha Token Hcaptcha Proxy"
                  },
                  "async": {
                    "type": "boolean",
                    "example": false,
                    "default": false,
                    "description": "Captcha Token Hcaptcha Async 265"
                  }
                }
              }
            }
          },
          "required": true
        },
        "description": "hCaptcha verification code identification api, using this api users do not need to identify and click the image of the hCaptcha verification code, just by submitting the website key can realize the background automatic decoding, complete the verification."
      }
    }
  }
}
