{
  "openapi": "3.0.0",
  "info": {
    "title": "Localization translation",
    "version": "1.0.0",
    "description": "API reference for Localization translation on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/localization/translate": {
      "post": {
        "summary": "Translate a JSON input into any localized file",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "data": {
                      "message.clickButton": {
                        "message": "Please click button to apply",
                        "description": "Messages which tells user to click button to apply the service."
                      }
                    },
                    "locale": "zh-CN"
                  },
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "The output translated JSON"
                    },
                    "model": {
                      "type": "string",
                      "description": "The LLM which used to translate"
                    },
                    "locale": {
                      "type": "string",
                      "description": "The target locale which need to be translated to"
                    }
                  }
                }
              }
            },
            "description": "OK, the prompt has been translated to English."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "input",
                  "locale",
                  "extension"
                ],
                "properties": {
                  "input": {
                    "type": "string",
                    "example": "# Title 1\n\nThis is a paragraph.\n\n## Title 2\n\nThis is another paragraph.",
                    "description": "The input which need to be translated"
                  },
                  "model": {
                    "enum": [
                      "gpt-3.5",
                      "gpt-4"
                    ],
                    "type": "string",
                    "description": "The LLM which used to translate, default is gpt-3.5"
                  },
                  "locale": {
                    "enum": [
                      "en",
                      "de",
                      "pt",
                      "es",
                      "fr",
                      "zh-CN",
                      "zh-TW",
                      "it",
                      "ko",
                      "ja",
                      "ru",
                      "pl",
                      "fi",
                      "sv",
                      "el",
                      "uk",
                      "ar",
                      "sr"
                    ],
                    "type": "string",
                    "description": "The target locale which need to be translated to"
                  },
                  "extension": {
                    "enum": [
                      "json",
                      "md"
                    ],
                    "type": "string",
                    "description": "The file type of the input text"
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    }
  },
  "tags": [
    {
      "name": "Localization translation"
    }
  ]
}