{
  "openapi": "3.0.0",
  "info": {
    "title": "Maestro AI Video Studio",
    "version": "1.0.0",
    "description": "API reference for Maestro AI Video Studio on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    },
    "schemas": {
      "GatewayError": {
        "type": "object",
        "required": [
          "error",
          "trace_id"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "description": "Stable machine-readable error code."
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message."
              }
            }
          },
          "trace_id": {
            "type": "string",
            "description": "Request trace ID for support and diagnostics."
          }
        }
      },
      "DetailError": {
        "type": "object",
        "required": [
          "detail"
        ],
        "properties": {
          "detail": {
            "type": "string",
            "description": "Human-readable error detail."
          }
        }
      },
      "MaestroTaskRequestPayload": {
        "type": "object",
        "additionalProperties": true,
        "description": "Request body recorded from the API operation that created this task. Fields depend on that operation and action."
      },
      "MaestroTaskResultPayload": {
        "type": "object",
        "additionalProperties": true,
        "description": "Final response recorded from the API operation that created this task. Fields follow that operation’s documented success or error contract."
      },
      "MaestroTaskRecord": {
        "type": "object",
        "required": [
          "id",
          "type",
          "created_at",
          "trace_id",
          "request"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Task identifier."
          },
          "type": {
            "type": "string",
            "description": "Task type."
          },
          "trace_id": {
            "type": "string",
            "description": "Request trace identifier."
          },
          "request": {
            "$ref": "#/components/schemas/MaestroTaskRequestPayload"
          },
          "response": {
            "$ref": "#/components/schemas/MaestroTaskResultPayload"
          },
          "created_at": {
            "type": "number",
            "format": "double",
            "description": "Unix timestamp in seconds when the task was created."
          },
          "started_at": {
            "type": "number",
            "format": "double",
            "description": "Unix timestamp in seconds when processing started."
          },
          "finished_at": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Unix timestamp in seconds when processing finished."
          },
          "elapsed": {
            "type": "number",
            "format": "double",
            "minimum": 0,
            "nullable": true,
            "description": "Processing duration in seconds."
          },
          "user_id": {
            "type": "string",
            "description": "Account that owns the task."
          },
          "actor_user_id": {
            "type": "string",
            "nullable": true,
            "description": "Account that executed an authorized request."
          },
          "api_id": {
            "type": "string",
            "description": "API identifier."
          },
          "application_id": {
            "type": "string",
            "description": "Application used for billing."
          },
          "credential_id": {
            "type": "string",
            "nullable": true,
            "description": "Credential used to start the task."
          },
          "authorization_id": {
            "type": "string",
            "nullable": true,
            "description": "Authorization used to start the task."
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/maestro/videos": {
      "post": {
        "summary": "Maestro Videos",
        "description": "Maestro is an agent-native video producer: describe the video you want in `prompt` (optionally attaching reference images/videos/audio via `file_urls`) and a headless creative director plans, generates the assets (images, voiceover, music, clips), composes and renders a finished, captioned video. This is an async job — it returns a `task_id` immediately; poll `POST /maestro/tasks` for the result, or supply `callback_url`. Use `action: remix` / `edit` / `extend` with `ref_task_id` to iterate on a previous video.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Natural-language brief describing the video to produce (the topic, what to show, tone, audience). The agent decides the script, visuals, voiceover and edit.",
                    "example": "用 20 秒讲清楚什么是向量数据库,适合零基础观众,结尾给一句记忆点"
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "generate",
                      "remix",
                      "edit",
                      "extend"
                    ],
                    "default": "generate",
                    "description": "generate = a new video. remix / edit / extend = iterate on a previous video (require `ref_task_id`)."
                  },
                  "ref_task_id": {
                    "type": "string",
                    "description": "Required when `action` is remix / edit / extend: the task_id of the previous video to start from."
                  },
                  "file_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional reference media (image / video / audio URLs) the agent can use — e.g. a product shot or logo to feature, footage to caption."
                  },
                  "langs": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": [
                      "zh-cn"
                    ],
                    "description": "Output languages, e.g. [\"zh-cn\", \"en\"]. The first is the primary language; each additional one reuses the visuals with a localized voiceover + render and is billed +6 credits."
                  },
                  "aspect": {
                    "type": "string",
                    "enum": [
                      "9:16",
                      "16:9",
                      "1:1"
                    ],
                    "default": "9:16",
                    "description": "Output aspect ratio (hint — the agent may follow the prompt)."
                  },
                  "duration": {
                    "type": "integer",
                    "default": 30,
                    "minimum": 1,
                    "maximum": 600,
                    "description": "Target video length in seconds (1–600, i.e. up to 10 minutes). Billed by duration: credits ≈ 0.85 × duration × quality multiplier × scenario multiplier, so a longer or video-native workflow costs proportionally more."
                  },
                  "quality": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "standard",
                      "premium"
                    ],
                    "default": "standard",
                    "description": "Production tier, a multiplier on the duration-based price. `draft` = a fast rough cut for previewing the idea (~0.5× the standard credits); `standard` = balanced (default, 1×); `premium` = richer, more detailed and polished (~2× the standard credits). Affects turnaround, detail and price."
                  },
                  "scenario": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "narrated",
                      "drama",
                      "avatar",
                      "motion",
                      "slideshow"
                    ],
                    "default": "auto",
                    "description": "How to route the video — a hint; the AI director still decides the final structure. `auto` (default) = the director chooses from your brief. `narrated` = multi-scene narrated video with real photos + voiceover + data cards (people / brands / explainers / history / products). `drama` = acted short drama with characters + dialogue (短剧) and bills at 1.35×. `avatar` = talking-head / digital human (needs a portrait image via `file_urls`, or a chosen digital human) and bills at 1.15×. `motion` = abstract kinetic-typography / data / logo motion graphic. `slideshow` = presentation deck / pitch. Legacy values `general` / `explainer` / `product` / `website` / `changelog` / `captions` are still accepted (mapped to `auto`), and `slides` maps to `slideshow`."
                  },
                  "style": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "cinematic",
                      "glass",
                      "luxury",
                      "swiss",
                      "modern",
                      "editorial",
                      "warm",
                      "vibrant",
                      "neon",
                      "mono",
                      "pastel",
                      "bold",
                      "industrial",
                      "futuristic",
                      "retro"
                    ],
                    "default": "auto",
                    "description": "Optional visual-style preset — expressed through typography, palette, motion, image treatment and pacing. Orthogonal to `scenario` (it does NOT change routing). `auto` (default) lets the director pick; every other value adopts a real named look: `cinematic` = dark film-noir (black + blood-red, Oswald); `glass` = Apple / iOS-26 frosted liquid glass; `luxury` = timeless near-black + indigo, huge whitespace; `swiss` = precise grid + electric blue + oversized numerals; `modern` = clean light SaaS; `editorial` = cream magazine + serif; `warm` = intimate cream + amber; `vibrant` = festive folk colour; `neon` = electric neon glow; `mono` = grayscale, type-led; `pastel` = soft candy pastels; `bold` = huge poster type; `industrial` = raw glitch + rust; `futuristic` = particle glow. A freeform string is also accepted as a soft hint."
                  },
                  "voice": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "warm-female",
                      "bright-female",
                      "anchor-female",
                      "clean-female",
                      "calm-male",
                      "deep-male",
                      "documentary-male",
                      "energetic-male",
                      "storyteller-male"
                    ],
                    "default": "auto",
                    "description": "Optional narration voice — the **timbre** of the voiceover, independent of language. `auto` (default) lets the director pick a fitting voice. Every preset is cross-lingual: the same voice speaks whatever language(s) you set in `langs`, so choose purely by character — `warm-female`, `bright-female`, `anchor-female`, `clean-female`, `calm-male`, `deep-male`, `documentary-male`, `energetic-male`, `storyteller-male`. Advanced: a raw 32-character Fish `reference_id` is also accepted. For `drama` / `avatar` this sets the primary / narrator timbre; distinct characters may still get their own."
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "Optional. Fired with the result when the task reaches a terminal state (succeeded / failed)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job created; poll POST /maestro/tasks with the task_id.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "Use this with POST /maestro/tasks."
                    },
                    "trace_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success",
                    "task_id",
                    "trace_id"
                  ],
                  "example": {
                    "success": true,
                    "task_id": "35c6159f-f94e-4b39-82b8-a3d77009bc1d",
                    "trace_id": "trace_7f8c2b1a"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (missing prompt or invalid fields).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailError"
                },
                "example": {
                  "detail": "missing field: prompt"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (missing or invalid token).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "error": {
                    "code": "invalid_token",
                    "message": "The token is invalid."
                  },
                  "trace_id": "trace_7f8c2b1a"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (insufficient balance, restricted access, or private option).",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GatewayError"
                    },
                    {
                      "$ref": "#/components/schemas/DetailError"
                    }
                  ]
                },
                "example": {
                  "error": {
                    "code": "used_up",
                    "message": "The available balance is insufficient for this request."
                  },
                  "trace_id": "trace_7f8c2b1a"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "error": {
                    "code": "too_many_requests",
                    "message": "Too many requests. Try again later."
                  },
                  "trace_id": "trace_7f8c2b1a"
                }
              }
            }
          },
          "500": {
            "description": "Internal error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "error": {
                    "code": "api_error",
                    "message": "The service is temporarily unavailable."
                  },
                  "trace_id": "trace_7f8c2b1a"
                }
              }
            }
          }
        },
        "operationId": "createMaestroVideos"
      }
    },
    "/maestro/tasks": {
      "post": {
        "summary": "Maestro Tasks",
        "description": "Retrieve the status and result of a job created by POST /maestro/videos. Polling is free.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The task_id returned by POST /maestro/videos."
                  },
                  "action": {
                    "type": "string",
                    "enum": [
                      "retrieve"
                    ],
                    "default": "retrieve",
                    "description": "Task query action."
                  }
                },
                "example": {
                  "action": "retrieve",
                  "id": "task-id"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The task status and (when finished) the result.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/MaestroTaskRecord"
                    },
                    {
                      "type": "object",
                      "required": [
                        "items",
                        "count"
                      ],
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/MaestroTaskRecord"
                          },
                          "description": "Matching tasks."
                        },
                        "count": {
                          "type": "integer",
                          "minimum": 0,
                          "description": "Total matching task count."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "description": "Returned when the requested task does not exist."
                    }
                  ]
                },
                "example": {
                  "items": [],
                  "count": 0
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                },
                "example": {
                  "error": {
                    "code": "invalid_token",
                    "message": "The token is invalid."
                  },
                  "trace_id": "trace_7f8c2b1a"
                }
              }
            }
          },
          "404": {
            "description": "Task not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetailError"
                },
                "example": {
                  "detail": "task not found"
                }
              }
            }
          }
        },
        "operationId": "queryMaestroTasks"
      }
    }
  }
}
