{
  "openapi": "3.0.0",
  "info": {
    "title": "OpenAI generation",
    "version": "1.0.0",
    "description": "API reference for OpenAI generation on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/openai/chat/completions": {
      "post": {
        "summary": "Openai Chat Completions",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "choices",
                    "created",
                    "id",
                    "model",
                    "object"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique identifier for the chat completion."
                    },
                    "model": {
                      "type": "string",
                      "description": "The model used for the chat completion."
                    },
                    "object": {
                      "enum": [
                        "chat.completion"
                      ],
                      "type": "string",
                      "description": "The object type, which is always `chat.completion`."
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "finish_reason",
                          "index",
                          "message"
                        ],
                        "properties": {
                          "index": {
                            "type": "number",
                            "description": "The index of the choice in the list of choices."
                          },
                          "message": {
                            "type": "object",
                            "required": [
                              "role"
                            ],
                            "properties": {
                              "role": {
                                "enum": [
                                  "assistant"
                                ],
                                "type": "string",
                                "description": "The role of the author of this message."
                              },
                              "content": {
                                "type": "string",
                                "nullable": true,
                                "description": "The contents of the message."
                              },
                              "tool_calls": {
                                "type": "array",
                                "nullable": true,
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "id",
                                    "type",
                                    "function"
                                  ],
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "description": "The ID of the tool call."
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "function"
                                      ],
                                      "description": "The type of the tool call. Currently, only `function` is supported."
                                    },
                                    "function": {
                                      "type": "object",
                                      "required": [
                                        "name",
                                        "arguments"
                                      ],
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "description": "The name of the function to call."
                                        },
                                        "arguments": {
                                          "type": "string",
                                          "description": "The arguments to call the function with, as generated by the model in JSON format."
                                        }
                                      },
                                      "description": "The function that the model called."
                                    }
                                  }
                                },
                                "description": "The tool calls generated by the model, such as function calls."
                              },
                              "refusal": {
                                "type": "string",
                                "nullable": true,
                                "description": "The refusal message generated by the model."
                              },
                              "audio": {
                                "type": "object",
                                "nullable": true,
                                "required": [
                                  "id",
                                  "data",
                                  "expires_at"
                                ],
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Unique identifier for this audio response."
                                  },
                                  "expires_at": {
                                    "type": "integer",
                                    "description": "Unix timestamp (in seconds) for when this audio response will no longer be accessible on the server for use in multi-turn conversations."
                                  },
                                  "data": {
                                    "type": "string",
                                    "description": "Base64 encoded audio bytes generated by the model."
                                  },
                                  "transcript": {
                                    "type": "string",
                                    "description": "Transcript of the audio generated by the model."
                                  }
                                },
                                "description": "If the audio output modality is requested, this object contains data about the audio response from the model."
                              }
                            },
                            "description": "A chat completion message generated by the model."
                          },
                          "finish_reason": {
                            "enum": [
                              "stop",
                              "length",
                              "tool_calls",
                              "content_filter",
                              "function_call"
                            ],
                            "type": "string",
                            "description": "The reason the model stopped generating tokens. This will be `stop` if the model hit a natural stop point or a provided stop sequence,\n`length` if the maximum number of tokens specified in the request was reached,\n`content_filter` if content was omitted due to a flag from our content filters,\n`tool_calls` if the model called a tool, or `function_call` (deprecated) if the model called a function.\n"
                          },
                          "logprobs": {
                            "type": "object",
                            "nullable": true,
                            "description": "Log probability information for the choice."
                          }
                        }
                      },
                      "description": "A list of chat completion choices. Can be more than one if `n` is greater than 1."
                    },
                    "created": {
                      "type": "number",
                      "description": "The Unix timestamp (in seconds) of when the chat completion was created."
                    },
                    "system_fingerprint": {
                      "type": "string",
                      "description": "This fingerprint represents the backend configuration that the model runs with.\n\nCan be used in conjunction with the `seed` request parameter to understand when backend changes have been made that might impact determinism.\n"
                    },
                    "usage": {
                      "type": "object",
                      "required": [
                        "prompt_tokens",
                        "completion_tokens",
                        "total_tokens"
                      ],
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "description": "Number of tokens in the prompt."
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "description": "Number of tokens in the generated completion."
                        },
                        "total_tokens": {
                          "type": "integer",
                          "description": "Total number of tokens used in the request (prompt + completion)."
                        },
                        "prompt_tokens_details": {
                          "type": "object",
                          "properties": {
                            "cached_tokens": {
                              "type": "integer",
                              "description": "Cached tokens present in the prompt."
                            },
                            "audio_tokens": {
                              "type": "integer",
                              "description": "Audio input tokens present in the prompt."
                            }
                          },
                          "description": "Breakdown of tokens used in the prompt."
                        },
                        "completion_tokens_details": {
                          "type": "object",
                          "properties": {
                            "reasoning_tokens": {
                              "type": "integer",
                              "description": "Tokens generated by the model for reasoning."
                            },
                            "audio_tokens": {
                              "type": "integer",
                              "description": "Audio output tokens generated by the model."
                            },
                            "accepted_prediction_tokens": {
                              "type": "integer",
                              "description": "When using Predicted Outputs, the number of tokens in the prediction that appeared in the completion."
                            },
                            "rejected_prediction_tokens": {
                              "type": "integer",
                              "description": "When using Predicted Outputs, the number of tokens in the prediction that did not appear in the completion."
                            }
                          },
                          "description": "Breakdown of tokens used in a completion."
                        }
                      },
                      "description": "Usage statistics for the completion request."
                    }
                  },
                  "description": "Represents a chat completion response returned by model, based on the provided input."
                }
              }
            },
            "description": "OK, the request was successful."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "n": {
                    "type": "number",
                    "default": 1,
                    "example": 1,
                    "maximum": 128,
                    "minimum": 1,
                    "nullable": true,
                    "description": "How many chat completion choices to generate for each input message."
                  },
                  "model": {
                    "enum": [
                      "gpt-5.5",
                      "gpt-5.5-pro",
                      "gpt-5.4",
                      "gpt-5.4-pro",
                      "gpt-5.2",
                      "gpt-5.1",
                      "gpt-5.1-all",
                      "gpt-5",
                      "gpt-5-mini",
                      "gpt-5-nano",
                      "gpt-4",
                      "gpt-4.1",
                      "gpt-4.1-mini",
                      "gpt-4.1-nano",
                      "gpt-4o",
                      "gpt-4o-2024-05-13",
                      "gpt-4o-all",
                      "gpt-4o-image",
                      "gpt-4o-mini",
                      "gpt-35-turbo-16k",
                      "o1",
                      "o1-mini",
                      "o1-pro",
                      "o3",
                      "o3-mini",
                      "o3-pro",
                      "o4-mini"
                    ],
                    "type": "string",
                    "example": "gpt-4o-mini",
                    "description": "ID of the model to use."
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true,
                    "description": "If set, partial message deltas will be sent, like in ChatGPT."
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "role"
                      ],
                      "properties": {
                        "role": {
                          "enum": [
                            "user",
                            "assistant",
                            "system",
                            "developer",
                            "tool"
                          ],
                          "type": "string",
                          "description": "The role of this message."
                        },
                        "content": {
                          "oneOf": [
                            {
                              "type": "string",
                              "description": "The text contents of the message."
                            },
                            {
                              "type": "array",
                              "items": {
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "required": [
                                      "type",
                                      "text"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ],
                                        "description": "The type of the content part."
                                      },
                                      "text": {
                                        "type": "string",
                                        "description": "The text content."
                                      }
                                    }
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "type",
                                      "image_url"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "image_url"
                                        ],
                                        "description": "The type of the content part."
                                      },
                                      "image_url": {
                                        "type": "object",
                                        "required": [
                                          "url"
                                        ],
                                        "properties": {
                                          "url": {
                                            "type": "string",
                                            "description": "Either a URL of the image or the base64 encoded image data."
                                          },
                                          "detail": {
                                            "type": "string",
                                            "enum": [
                                              "auto",
                                              "low",
                                              "high"
                                            ],
                                            "default": "auto",
                                            "description": "Specifies the detail level of the image."
                                          }
                                        },
                                        "description": "The image URL or base64 encoded image data."
                                      }
                                    }
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "type",
                                      "input_audio"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "input_audio"
                                        ],
                                        "description": "The type of the content part. Always `input_audio`."
                                      },
                                      "input_audio": {
                                        "type": "object",
                                        "required": [
                                          "data",
                                          "format"
                                        ],
                                        "properties": {
                                          "data": {
                                            "type": "string",
                                            "description": "Base64 encoded audio data."
                                          },
                                          "format": {
                                            "type": "string",
                                            "enum": [
                                              "wav",
                                              "mp3"
                                            ],
                                            "description": "The format of the encoded audio data. Currently supports `wav` and `mp3`."
                                          }
                                        },
                                        "description": "The audio data to send to the model."
                                      }
                                    }
                                  },
                                  {
                                    "type": "object",
                                    "required": [
                                      "type",
                                      "file"
                                    ],
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "file"
                                        ],
                                        "description": "The type of the content part. Always `file`."
                                      },
                                      "file": {
                                        "type": "object",
                                        "properties": {
                                          "filename": {
                                            "type": "string",
                                            "description": "The name of the file, used when passing the file to the model as a string."
                                          },
                                          "file_data": {
                                            "type": "string",
                                            "description": "The base64 encoded file data, used when passing the file to the model as a string."
                                          },
                                          "file_id": {
                                            "type": "string",
                                            "description": "The ID of an uploaded file to use as input."
                                          }
                                        },
                                        "description": "The file data to send to the model."
                                      }
                                    }
                                  }
                                ]
                              },
                              "minItems": 1,
                              "description": "An array of content parts with a defined type. Can contain text, image_url, input_audio, and file inputs."
                            }
                          ],
                          "description": "The contents of the message. Can be a string for text-only messages, or an array of content parts for multimodal messages (text, image_url, input_audio, and file)."
                        },
                        "name": {
                          "type": "string",
                          "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                        },
                        "tool_call_id": {
                          "type": "string",
                          "description": "Tool call that this message is responding to. Required when role is `tool`."
                        },
                        "tool_calls": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "type",
                              "function"
                            ],
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The ID of the tool call."
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "function"
                                ],
                                "description": "The type of the tool. Currently, only `function` is supported."
                              },
                              "function": {
                                "type": "object",
                                "required": [
                                  "name",
                                  "arguments"
                                ],
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "The name of the function to call."
                                  },
                                  "arguments": {
                                    "type": "string",
                                    "description": "The arguments to call the function with, as generated by the model in JSON format."
                                  }
                                }
                              }
                            }
                          },
                          "description": "The tool calls generated by the model in a previous turn, when `role` is `assistant`. Echo this back along with a `tool` message containing the tool call result."
                        },
                        "refusal": {
                          "type": "string",
                          "nullable": true,
                          "description": "The refusal message by the assistant. Used when `role` is `assistant`."
                        }
                      }
                    },
                    "minItems": 1,
                    "description": "A list of messages comprising the conversation so far."
                  },
                  "max_tokens": {
                    "type": "number",
                    "nullable": true,
                    "description": "The maximum number of tokens that can be generated in the chat completion."
                  },
                  "temperature": {
                    "type": "number",
                    "default": 1,
                    "example": 1,
                    "maximum": 2,
                    "minimum": 0,
                    "nullable": true,
                    "description": "What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic."
                  },
                  "response_format": {
                    "oneOf": [
                      {
                        "type": "object",
                        "required": [
                          "type"
                        ],
                        "properties": {
                          "type": {
                            "enum": [
                              "text"
                            ],
                            "type": "string",
                            "description": "Plain text response format."
                          }
                        },
                        "description": "Default text response format."
                      },
                      {
                        "type": "object",
                        "required": [
                          "type"
                        ],
                        "properties": {
                          "type": {
                            "enum": [
                              "json_object"
                            ],
                            "type": "string",
                            "description": "Enables JSON Object mode."
                          }
                        },
                        "description": "JSON Object response format. Must instruct the model to produce JSON in the prompt."
                      },
                      {
                        "type": "object",
                        "required": [
                          "type",
                          "json_schema"
                        ],
                        "properties": {
                          "type": {
                            "enum": [
                              "json_schema"
                            ],
                            "type": "string",
                            "description": "Enables Structured Outputs which ensures the model matches the supplied JSON schema."
                          },
                          "json_schema": {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the response format. Must be a-z, A-Z, 0-9, or contain underscores and dashes."
                              },
                              "description": {
                                "type": "string",
                                "description": "A description of what the response format is for."
                              },
                              "schema": {
                                "type": "object",
                                "description": "The schema for the response format, described as a JSON Schema object."
                              },
                              "strict": {
                                "type": "boolean",
                                "default": false,
                                "nullable": true,
                                "description": "Whether to enable strict schema adherence."
                              }
                            }
                          }
                        },
                        "description": "Structured Outputs response format using a JSON Schema."
                      }
                    ],
                    "description": "An object specifying the format that the model must output. Setting to `{ \"type\": \"json_schema\", \"json_schema\": {...} }` enables Structured Outputs. Setting to `{ \"type\": \"json_object\" }` enables the older JSON Object mode."
                  },
                  "tools": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "function"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "function"
                          ],
                          "description": "The type of the tool. Currently, only `function` is supported."
                        },
                        "function": {
                          "type": "object",
                          "required": [
                            "name"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name of the function to be called."
                            },
                            "description": {
                              "type": "string",
                              "description": "A description of what the function does."
                            },
                            "parameters": {
                              "type": "object",
                              "description": "The parameters the function accepts, described as a JSON Schema object."
                            }
                          },
                          "description": "The function definition."
                        }
                      }
                    },
                    "description": "A list of tools the model may call. Currently, only functions are supported as a tool."
                  },
                  "tool_choice": {
                    "oneOf": [
                      {
                        "type": "string",
                        "enum": [
                          "none",
                          "auto",
                          "required"
                        ],
                        "description": "Controls which (if any) tool is called by the model."
                      },
                      {
                        "type": "object",
                        "required": [
                          "type",
                          "function"
                        ],
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "function"
                            ],
                            "description": "The type of the tool. Currently, only `function` is supported."
                          },
                          "function": {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name of the function to call."
                              }
                            }
                          }
                        },
                        "description": "Specifies a tool the model should use."
                      }
                    ],
                    "description": "Controls which (if any) tool is called by the model. `none` means the model will not call any tool. `auto` means the model can pick between generating a message or calling one or more tools. `required` means the model must call one or more tools."
                  },
                  "top_p": {
                    "type": "number",
                    "default": 1,
                    "example": 1,
                    "maximum": 1,
                    "minimum": 0,
                    "nullable": true,
                    "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered. We generally recommend altering this or `temperature` but not both."
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "default": 0,
                    "example": 0,
                    "maximum": 2,
                    "minimum": -2,
                    "nullable": true,
                    "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim."
                  },
                  "presence_penalty": {
                    "type": "number",
                    "default": 0,
                    "example": 0,
                    "maximum": 2,
                    "minimum": -2,
                    "nullable": true,
                    "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the text so far, increasing the model's likelihood to talk about new topics."
                  },
                  "seed": {
                    "type": "integer",
                    "nullable": true,
                    "description": "If specified, our system will make a best effort to sample deterministically, such that repeated requests with the same `seed` and parameters should return the same result. Determinism is not guaranteed; refer to `system_fingerprint` in the response to monitor backend changes."
                  },
                  "stop": {
                    "nullable": true,
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "A single stop sequence."
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "minItems": 1,
                        "maxItems": 4,
                        "description": "Up to 4 stop sequences."
                      }
                    ],
                    "description": "Up to 4 sequences where the API will stop generating further tokens. The returned text will not contain the stop sequence."
                  },
                  "max_completion_tokens": {
                    "type": "integer",
                    "nullable": true,
                    "description": "An upper bound for the number of tokens that can be generated for a completion, including visible output tokens and reasoning tokens. This supersedes `max_tokens` for newer models (o1/o3/o4/gpt-5 series and any other reasoning model)."
                  },
                  "logprobs": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true,
                    "description": "Whether to return log probabilities of the output tokens or not. If true, returns the log probabilities of each output token returned in the `content` of `message`."
                  },
                  "top_logprobs": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 20,
                    "nullable": true,
                    "description": "An integer between 0 and 20 specifying the number of most likely tokens to return at each token position, each with an associated log probability. `logprobs` must be set to `true` if this parameter is used."
                  },
                  "stream_options": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "include_usage": {
                        "type": "boolean",
                        "description": "If set, an additional chunk will be streamed before the `data: [DONE]` message. The `usage` field on this chunk shows the token usage statistics for the entire request, and the `choices` field will always be an empty array."
                      }
                    },
                    "description": "Options for streaming response. Only set this when you set `stream: true`."
                  },
                  "parallel_tool_calls": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to enable parallel function calling during tool use."
                  },
                  "user": {
                    "type": "string",
                    "description": "A unique identifier representing your end-user, which can help OpenAI to monitor and detect abuse."
                  },
                  "reasoning_effort": {
                    "type": "string",
                    "enum": [
                      "minimal",
                      "low",
                      "medium",
                      "high"
                    ],
                    "default": "medium",
                    "nullable": true,
                    "description": "Constrains effort on reasoning for reasoning models (o1/o3/o4/gpt-5 series). Currently supported values are `minimal`, `low`, `medium`, and `high`. Reducing reasoning effort can result in faster responses and fewer tokens used on reasoning in a response."
                  },
                  "service_tier": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "default",
                      "flex",
                      "scale",
                      "priority"
                    ],
                    "default": "auto",
                    "nullable": true,
                    "description": "Specifies the processing type used for serving the request. Set to `auto` to let OpenAI pick, `default` for the standard pricing/performance, `flex` for the slower-but-cheaper Flex Processing tier, or `priority` for the fastest tier on supported models."
                  },
                  "store": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true,
                    "description": "Whether or not to store the output of this chat completion request for use in OpenAI's model distillation or evals products."
                  },
                  "metadata": {
                    "type": "object",
                    "nullable": true,
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Set of 16 key-value pairs that can be attached to an object. Useful for storing additional information about the object in a structured format. Keys are strings up to 64 characters; values are strings up to 512 characters."
                  },
                  "logit_bias": {
                    "type": "object",
                    "nullable": true,
                    "additionalProperties": {
                      "type": "integer"
                    },
                    "description": "Modify the likelihood of specified tokens appearing in the completion. Accepts a JSON object that maps tokens (specified by their token ID in the tokenizer) to an associated bias value from -100 to 100."
                  },
                  "modalities": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "text",
                        "audio"
                      ]
                    },
                    "nullable": true,
                    "description": "Output types that you would like the model to generate. Most models default to `[\"text\"]`. The `gpt-4o-audio-preview` model can also be used to generate audio. To request that this model generate both text and audio responses, you can use `[\"text\", \"audio\"]`."
                  },
                  "audio": {
                    "type": "object",
                    "nullable": true,
                    "required": [
                      "voice",
                      "format"
                    ],
                    "properties": {
                      "voice": {
                        "type": "string",
                        "enum": [
                          "alloy",
                          "ash",
                          "ballad",
                          "coral",
                          "echo",
                          "fable",
                          "nova",
                          "onyx",
                          "sage",
                          "shimmer"
                        ],
                        "description": "The voice the model uses to respond."
                      },
                      "format": {
                        "type": "string",
                        "enum": [
                          "wav",
                          "aac",
                          "mp3",
                          "flac",
                          "opus",
                          "pcm16"
                        ],
                        "description": "Specifies the output audio format."
                      }
                    },
                    "description": "Parameters for audio output. Required when audio output is requested with `modalities: [\"audio\"]`."
                  },
                  "prediction": {
                    "type": "object",
                    "nullable": true,
                    "required": [
                      "type",
                      "content"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "content"
                        ],
                        "description": "The type of the predicted content. Always `content`."
                      },
                      "content": {
                        "oneOf": [
                          {
                            "type": "string",
                            "description": "The content used for the prediction."
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "type",
                                "text"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "text"
                                  ]
                                },
                                "text": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        ],
                        "description": "The content used for the prediction."
                      }
                    },
                    "description": "Static predicted output content, such as the content of a text file that is being regenerated. Used to improve response time when most of the response is known ahead of time."
                  },
                  "web_search_options": {
                    "type": "object",
                    "properties": {
                      "search_context_size": {
                        "type": "string",
                        "enum": [
                          "low",
                          "medium",
                          "high"
                        ],
                        "default": "medium",
                        "description": "High level guidance for the amount of context window space to use for the search."
                      },
                      "user_location": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "approximate"
                            ]
                          },
                          "approximate": {
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "string"
                              },
                              "region": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "timezone": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "description": "Approximate location parameters for the search."
                      }
                    },
                    "description": "Options for the web search tool, used by GPT-4o models with built-in search (`gpt-4o-search-preview`, `gpt-4o-mini-search-preview`)."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/openai/embeddings": {
      "post": {
        "summary": "Creates an embedding vector representing the input text.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Embeddings created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "object",
                    "data",
                    "model",
                    "usage",
                    "created"
                  ],
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "list"
                      ],
                      "description": "Type of the returned object."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "object",
                          "index",
                          "embedding"
                        ],
                        "properties": {
                          "object": {
                            "type": "string",
                            "enum": [
                              "embedding"
                            ]
                          },
                          "index": {
                            "type": "integer"
                          },
                          "embedding": {
                            "description": "Embedding vector or base64-encoded embedding, depending on encoding_format.",
                            "oneOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "number"
                                }
                              },
                              {
                                "type": "string",
                                "description": "Base64 string when encoding_format=base64."
                              }
                            ]
                          }
                        }
                      }
                    },
                    "model": {
                      "type": "string",
                      "description": "Model used to generate the embeddings."
                    },
                    "usage": {
                      "type": "object",
                      "required": [
                        "prompt_tokens",
                        "total_tokens"
                      ],
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    },
                    "created": {
                      "type": "integer",
                      "description": "Unix timestamp (seconds) when the embeddings were created."
                    }
                  }
                },
                "examples": {
                  "float_example": {
                    "summary": "Float embeddings",
                    "value": {
                      "object": "list",
                      "data": [
                        {
                          "object": "embedding",
                          "index": 0,
                          "embedding": [
                            0.0023064255,
                            -0.009327292,
                            0.015271,
                            0.001234
                          ]
                        }
                      ],
                      "model": "text-embedding-3-small",
                      "usage": {
                        "prompt_tokens": 9,
                        "total_tokens": 9
                      },
                      "created": 1714500000
                    }
                  },
                  "base64_example": {
                    "summary": "Base64 embeddings",
                    "value": {
                      "object": "list",
                      "data": [
                        {
                          "object": "embedding",
                          "index": 0,
                          "embedding": "AAABQWJjMTIz..."
                        }
                      ],
                      "model": "text-embedding-3-large",
                      "usage": {
                        "prompt_tokens": 18,
                        "total_tokens": 18
                      },
                      "created": 1714500000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "enum": [
                      "text-embedding-3-small",
                      "text-embedding-3-large",
                      "text-embedding-ada-002"
                    ],
                    "description": "ID of the embedding model to use (e.g., text-embedding-3-small, text-embedding-3-large)."
                  },
                  "input": {
                    "description": "Input to embed: a single string, an array of strings, or token arrays.",
                    "type": "string"
                  },
                  "encoding_format": {
                    "type": "string",
                    "description": "Format of the returned embeddings.",
                    "enum": [
                      "float",
                      "base64"
                    ],
                    "default": "float"
                  },
                  "dimensions": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Optional output embedding size when supported by the model."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/openai/images/generations": {
      "post": {
        "summary": "Openai Images Generations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "created",
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "The URL of the generated image, if `response_format` is `url` (default)."
                          },
                          "b64_json": {
                            "type": "string",
                            "description": "The base64-encoded JSON of the generated image, if `response_format` is `b64_json`."
                          },
                          "revised_prompt": {
                            "type": "string",
                            "description": "The prompt that was used to generate the image, if there was any revision to the prompt."
                          }
                        },
                        "description": "Represents the url or the content of an image generated by the OpenAI API."
                      }
                    },
                    "created": {
                      "type": "number"
                    }
                  }
                }
              }
            },
            "description": "Image generated successfully or operation performed successfully."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "forbidden",
                          "message": "Sorry! Our Al moderators feel your prompt might be against our community standards."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "forbidden",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Sorry! Our Al moderators feel your prompt might be against our community standards.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Forbidden, the request is understood, but it has been refused or access is not allowed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "timeout",
                          "message": "Timeout to generate the image."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "timeout",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Timeout to generate the image.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Timeout, the request took too long to process."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt",
                  "model"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "example": "A cute baby sea otter",
                    "enum": [
                      "A cute baby sea otter",
                      "A wooden bookshelf consisting of three shelves: on the top shelf one book, the second shelf three books, and the bottom shelf seven books.",
                      "Cinematic minimal portrait of a solitary man standing in an intense orange-to-red gradient environment, strong silhouette lighting, deep shadow contrast, reflective glossy floor, symmetrical composition.",
                      "Symmetrical design featuring two elegant blue peacocks with detailed feather patterns, surrounded by blue floral elements, intricate vintage botanical ornament, soft beige background, decorative art illustration.",
                      "Avant-garde sports fashion advertisement, oversized basketball posed like a monumental sculpture, female athlete reclining across the ball's curved surface, giant word 'ELEVATE' in bold typography behind, burnt orange studio backdrop, glossy reflective floor.",
                      "High-fashion surrealist poster for Rolex. Deep emerald green minimalist studio with polished reflective floor. A massive Rolex watch standing upright like a monument; a male model in tailored dark green suit leans casually against the watch face, wearing a matching Rolex.",
                      "Ultra-realistic product photography of a rich strawberry soft-serve ice cream in a crispy waffle cone, clean modern premium aesthetic, soft serve vibrant natural pink, sculpted swirl with curled peak, lightly topped with strawberry dust.",
                      "Hyper-realistic UI/UX mockup on a slim modern laptop on a minimal wooden desk with soft natural daylight; clean SaaS dashboard with elegant typography, glassmorphism cards, smooth gradients, subtle drop shadows, charts, sidebar navigation, macOS-style window frame.",
                      "9:16 vertical Korean idol portrait photoshoot, 3x3 grid (nine frames), same person in all images, consistent facial features and styling, soft black mist filter effect, lowered contrast, blooming highlights, subtle glow around light sources.",
                      "Mobile phone photo, old CCD camera aesthetic, harsh flash, grainy, dim messy indoor lighting, candid snapshot feeling, slight motion blur.",
                      "Create a science fiction movie poster.",
                      "以中国连环画（小人书）的风格帮我绘制大闹天宫",
                      "新中式水墨山水海报，竖版9:16构图，东方极简美学风格，大面积留白，主题是春岚一叶红"
                    ],
                    "description": "A text description of the desired image(s). The maximum length is 32000 characters for GPT image models, 1000 characters for `dall-e-2`, and 4000 characters for `dall-e-3`. The dropdown lists curated example prompts (sourced from [EvoLinkAI/awesome-gpt-image-2-prompts](https://github.com/EvoLinkAI/awesome-gpt-image-2-prompts), Apache-2.0); you can also type your own."
                  },
                  "background": {
                    "enum": [
                      "transparent",
                      "opaque",
                      "auto"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Set transparency for GPT image models. Must be `transparent`, `opaque`, or `auto` (default). If `transparent`, choose an output format that supports alpha (png/webp)."
                  },
                  "model": {
                    "enum": [
                      "dall-e-2",
                      "dall-e-3",
                      "gpt-image-1",
                      "gpt-image-1.5",
                      "gpt-image-2",
                      "nano-banana",
                      "nano-banana-2",
                      "nano-banana-pro"
                    ],
                    "type": "string",
                    "description": "The model to use for image generation. Supports OpenAI `dall-e-2`, `dall-e-3`, the `gpt-image-1` / `gpt-image-1.5` / `gpt-image-2` family, and Google `nano-banana` / `nano-banana-2` / `nano-banana-pro` (routed through the Nano Banana backend). Different models support different `size`, `quality`, `style`, `background`, `output_format`, `moderation` and `response_format` values — see the descriptions on each field."
                  },
                  "moderation": {
                    "enum": [
                      "low",
                      "auto"
                    ],
                    "type": "string",
                    "default": "auto",
                    "description": "Content-moderation level for GPT image models. `low` relaxes filtering; `auto` applies the default."
                  },
                  "n": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 1,
                    "example": 1,
                    "description": "How many images to generate. Must be between 1 and 10. **Only effective for `dall-e-2`.** For `dall-e-3`, only `1` is supported. For the `gpt-image-1` / `gpt-image-1.5` / `gpt-image-2` family and the `nano-banana` / `nano-banana-2` / `nano-banana-pro` family, `n` is currently **not honored** — values >1 are silently downgraded to 1 (a single image is returned and only one image is billed). To get multiple images for these models, send multiple parallel requests yourself."
                  },
                  "output_compression": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100,
                    "default": 100,
                    "description": "Compression level (0-100%) for GPT image models when using `webp` or `jpeg` output formats."
                  },
                  "output_format": {
                    "enum": [
                      "png",
                      "jpeg",
                      "webp"
                    ],
                    "type": "string",
                    "default": "png",
                    "description": "Return format for GPT image models. Must be `png`, `jpeg`, or `webp`."
                  },
                  "partial_images": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 3,
                    "default": 0,
                    "description": "Number of partial images to emit during streaming (0-3). `0` returns the final image in one event."
                  },
                  "size": {
                    "type": "string",
                    "default": "auto",
                    "example": "1024x1024",
                    "nullable": true,
                    "pattern": "^(auto|\\d+x\\d+)$",
                    "description": "The size of the generated images, formatted as `WIDTHxHEIGHT`, or `auto` to let the model choose. **`gpt-image-2`** accepts any `WIDTHxHEIGHT` value matching the format and bills in two tiers: **1K (standard rate)** for `1024x1024`, `1536x1024`, `1024x1536`, `1792x1024`, `1024x1792` (and the observed 1K aliases `1254x1254`, `1672x941`, `941x1672`); **other (1.5×)** for any other size, including the recommended 2K presets `2048x2048`, `2048x1536`, `1536x2048`, `2048x1152`, `1152x2048`, the recommended 4K presets `2880x2880`, `3264x2448`, `2448x3264`, `3840x2160`, `2160x3840`, and any custom dimensions you pass. Upstream constrains custom sizes to multiples of 16, longer side ≤ 3840, total pixels ≤ 8,294,400. `dall-e-2`: `256x256`, `512x512`, `1024x1024`. `dall-e-3`: `1024x1024`, `1792x1024`, `1024x1792`. Pass `auto` (default) or omit to let the model choose."
                  },
                  "quality": {
                    "enum": [
                      "auto",
                      "high",
                      "medium",
                      "low",
                      "hd",
                      "standard"
                    ],
                    "type": "string",
                    "default": "auto",
                    "example": "auto",
                    "description": "Quality of the image. GPT image models: `auto` (default), `high`, `medium`, `low`. `dall-e-3`: `hd` or `standard`. `dall-e-2`: `standard`."
                  },
                  "response_format": {
                    "enum": [
                      "url",
                      "b64_json"
                    ],
                    "type": "string",
                    "default": "url",
                    "example": "url",
                    "nullable": true,
                    "description": "The format in which `dall-e-2`/`dall-e-3` images are returned: `url` or `b64_json`. Not supported for GPT image models (they always return base64)."
                  },
                  "style": {
                    "enum": [
                      "vivid",
                      "natural"
                    ],
                    "type": "string",
                    "default": "vivid",
                    "example": "vivid",
                    "description": "Style for `dall-e-3`: `vivid` (hyper-real/dramatic) or `natural` (more neutral)."
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "Optional callback URL. When provided, the API returns a `task_id` immediately and POSTs the result to this URL once image generation completes. The callback payload includes `task_id`, `trace_id`, `success` (boolean), and the full response data or error."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/openai/responses": {
      "post": {
        "summary": "Openai V1 Responses",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "choices",
                    "created",
                    "id",
                    "model",
                    "object"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A unique identifier for the chat completion."
                    },
                    "model": {
                      "type": "string",
                      "description": "The model used for the chat completion."
                    },
                    "object": {
                      "enum": [
                        "chat.completion"
                      ],
                      "type": "string",
                      "description": "The object type, which is always `chat.completion`."
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "finish_reason",
                          "index",
                          "message",
                          "logprobs"
                        ],
                        "properties": {
                          "index": {
                            "type": "number",
                            "description": "The index of the choice in the list of choices."
                          },
                          "message": {
                            "type": "object",
                            "required": [
                              "role",
                              "content"
                            ],
                            "properties": {
                              "role": {
                                "enum": [
                                  "assistant"
                                ],
                                "type": "string",
                                "description": "The role of the author of this message."
                              },
                              "content": {
                                "type": "string",
                                "nullable": true,
                                "description": "The contents of the message."
                              }
                            },
                            "description": "A chat completion message generated by the model."
                          },
                          "finish_reason": {
                            "enum": [
                              "stop",
                              "length",
                              "tool_calls",
                              "content_filter",
                              "function_call"
                            ],
                            "type": "string",
                            "description": "The reason the model stopped generating tokens. This will be `stop` if the model hit a natural stop point or a provided stop sequence,\n`length` if the maximum number of tokens specified in the request was reached,\n`content_filter` if content was omitted due to a flag from our content filters,\n`tool_calls` if the model called a tool, or `function_call` (deprecated) if the model called a function.\n"
                          }
                        }
                      },
[...]
