{
  "openapi": "3.0.0",
  "info": {
    "title": "Publisher Cross-Platform Automatic Publishing",
    "version": "1.0.0",
    "description": "API reference for Publisher Cross-Platform Automatic Publishing on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/publisher/channels": {
      "get": {
        "summary": "Publisher Channels",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "name": "zhihu",
                        "title": "Zhihu",
                        "domain": "zhihu.com"
                      },
                      {
                        "name": "medium",
                        "title": "Medium",
                        "domain": "medium.com"
                      },
                      {
                        "name": "csdn",
                        "title": "CSDN",
                        "domain": "csdn.net"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Publisher Channels Response 200 Success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Publisher Channels Response 200 Data Name"
                          },
                          "title": {
                            "type": "string",
                            "description": "Publisher Channels Response 200 Data Title"
                          },
                          "domain": {
                            "type": "string",
                            "description": "Publisher Channels Response 200 Data Domain"
                          },
                          "logo": {
                            "type": "string",
                            "description": "Publisher Channels Response 200 Data Logo"
                          }
                        }
                      },
                      "description": "Publisher Channels Response 200 Data"
                    }
                  }
                }
              }
            },
            "description": "Publisher Channels Response 200"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Publisher Channels Response 401"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Publisher Channels Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Publisher Channels Param Accept"
          }
        ]
      }
    },
    "/publisher/configs": {
      "post": {
        "summary": "Publisher Configs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "channel": "zhihu",
                      "valid": true,
                      "updated_at": "2025-01-15T10:30:00Z"
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Publisher Configs Response 200 Success"
                    },
                    "data": {
                      "type": "object",
                      "description": "Publisher Configs Response 200 Data",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Publisher Configs Response 200 Data Id"
                        },
                        "channel": {
                          "type": "string",
                          "description": "Publisher Configs Response 200 Data Channel"
                        },
                        "valid": {
                          "type": "boolean",
                          "description": "Publisher Configs Response 200 Data Valid"
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "Publisher Configs Response 200 Data Updated At"
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "Publisher Configs Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "Invalid channel specified."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request"
                            },
                            "message": {
                              "type": "string",
                              "example": "Invalid channel specified."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Publisher Configs Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Publisher Configs Response 401"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Publisher Configs Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Publisher Configs Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channel",
                  "credential"
                ],
                "properties": {
                  "channel": {
                    "type": "string",
                    "enum": [
                      "zhihu",
                      "bilibili",
                      "csdn",
                      "baijiahao",
                      "xiaohongshu",
                      "weibo",
                      "facebook",
                      "reddit",
                      "x",
                      "medium",
                      "dev",
                      "toutiao",
                      "juejin"
                    ],
                    "description": "Publisher Configs Channel"
                  },
                  "credential": {
                    "type": "object",
                    "description": "Publisher Configs Credential"
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/publisher/generate": {
      "post": {
        "summary": "Publisher Generate",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "title": "小红书教程：如何使用 AI API 提升效率",
                      "content": "✨ 最近发现了一个超好用的 AI API 平台...\n\n💡 三步上手...\n\n📌 实测效果超赞..."
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Publisher Generate Response 200 Success"
                    },
                    "data": {
                      "type": "object",
                      "description": "Publisher Generate Response 200 Data",
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "Publisher Generate Response 200 Data Title"
                        },
                        "content": {
                          "type": "string",
                          "description": "Publisher Generate Response 200 Data 2"
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "Publisher Generate Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "Unsupported channel for content generation."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request"
                            },
                            "message": {
                              "type": "string",
                              "example": "Unsupported channel for content generation."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Publisher Generate Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Publisher Generate Response 401"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Publisher Generate Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Publisher Generate Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Publisher Generate Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "content",
                  "channel"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Introduction to AI APIs",
                    "description": "Publisher Generate Title"
                  },
                  "content": {
                    "type": "string",
                    "example": "# Introduction\n\nThis article covers the basics of AI APIs...",
                    "description": "Publisher Generate"
                  },
                  "channel": {
                    "enum": [
                      "xiaohongshu",
                      "medium",
                      "dev",
                      "x"
                    ],
                    "type": "string",
                    "example": "xiaohongshu",
                    "description": "Publisher Generate Channel"
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/publisher/publish": {
      "post": {
        "summary": "Publisher Publish",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "task_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab",
                    "data": [
                      {
                        "task_id": "f1e2d3c4-b5a6-7890-abcd-ef1234567890",
                        "channel": "zhihu",
                        "state": "pending"
                      },
                      {
                        "task_id": "a9b8c7d6-e5f4-3210-abcd-ef1234567890",
                        "channel": "medium",
                        "state": "pending"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Publisher Publish Response 200 Success"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "Publisher Publish Response 200 Task Id"
                    },
                    "trace_id": {
                      "type": "string",
                      "description": "Publisher Publish Response 200 Trace Id"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "task_id": {
                            "type": "string",
                            "description": "Publisher Publish Response 200 Data Task Id"
                          },
                          "channel": {
                            "type": "string",
                            "description": "Publisher Publish Response 200 Data Channel"
                          },
                          "state": {
                            "type": "string",
                            "description": "Publisher Publish Response 200 Data State"
                          }
                        }
                      },
                      "description": "Publisher Publish Response 200 Data"
                    }
                  }
                }
              }
            },
            "description": "Publisher Publish Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Publisher Publish Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Publisher Publish Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Publisher Publish Response 400 Trace Id"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "Invalid channel specified."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Publisher Publish Response 400 Error Code 2"
                            },
                            "message": {
                              "type": "string",
                              "example": "Invalid channel specified.",
                              "description": "Publisher Publish Response 400 Error Message 2"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Publisher Publish Response 400 Trace Id 2"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Publisher Publish Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Publisher Publish Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Publisher Publish Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Publisher Publish Response 401 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Publisher Publish Response 401"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Publisher Publish Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Publisher Publish Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Publisher Publish Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Publisher Publish Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Publisher Publish Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Publisher Publish Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Publisher Publish Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Publisher Publish Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Publisher Publish Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "content",
                  "channels"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Introduction to AI APIs",
                    "description": "Publisher Publish Title"
                  },
                  "content": {
                    "type": "string",
                    "example": "# Introduction\n\nThis article covers the basics of AI APIs...",
                    "description": "Publisher Publish"
                  },
                  "content_format": {
                    "enum": [
                      "markdown",
                      "html",
                      "text"
                    ],
                    "type": "string",
                    "default": "markdown",
                    "description": "Publisher Publish Content Format"
                  },
                  "channels": {
                    "type": "array",
                    "items": {
                      "enum": [
                        "zhihu",
                        "bilibili",
                        "csdn",
                        "baijiahao",
                        "xiaohongshu",
                        "weibo",
                        "facebook",
                        "reddit",
                        "x",
                        "medium",
                        "dev",
                        "toutiao",
                        "juejin"
                      ],
                      "type": "string"
                    },
                    "example": [
                      "zhihu",
                      "medium"
                    ],
                    "description": "Publisher Publish Channels"
                  },
                  "category": {
                    "type": "string",
                    "description": "Publisher Publish Category"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Publisher Publish Tags"
                  },
                  "thumbnail": {
                    "type": "string",
                    "description": "Publisher Publish Thumbnail"
                  },
                  "generate": {
                    "type": "boolean",
                    "default": false,
                    "description": "Publisher Publish Generate"
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "Publisher Publish Callback Url"
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Publisher Publish Async"
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/publisher/tasks": {
      "post": {
        "summary": "Publisher Tasks",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Publisher Tasks Response 200 Id"
                    },
                    "request": {
                      "type": "object",
                      "description": "Publisher Tasks Response 200 Request",
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "Publisher Tasks Response 200 Request Title"
                        },
                        "content": {
                          "type": "string",
                          "description": "Publisher Tasks Response 200 Request 2"
                        },
                        "channel": {
                          "type": "string",
                          "description": "Publisher Tasks Response 200 Request Channel"
                        }
                      }
                    },
                    "response": {
                      "type": "object",
                      "description": "Publisher Tasks Response 200 Response",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Publisher Tasks Response 200 Response Success"
                        },
                        "task_id": {
                          "type": "string",
                          "description": "Publisher Tasks Response 200 Response Task Id"
                        },
                        "channel": {
                          "type": "string",
                          "description": "Publisher Tasks Response 200 Response Channel"
                        },
                        "state": {
                          "type": "string",
                          "description": "Publisher Tasks Response 200 Response State"
                        },
                        "url": {
                          "type": "string",
                          "description": "Publisher Tasks Response 200 Response Url"
                        }
                      }
                    },
                    "created_at": {
                      "type": "number",
                      "description": "Publisher Tasks Response 200 Created At"
                    },
                    "started_at": {
                      "type": "number",
                      "description": "Publisher Tasks Response 200 Started At"
                    },
                    "finished_at": {
                      "type": "number",
                      "description": "Publisher Tasks Response 200 Finished At"
                    }
                  }
                }
              }
            },
            "description": "Publisher Tasks Response 200"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Publisher Tasks Response 400 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Publisher Tasks Response 400 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Publisher Tasks Response 400 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Publisher Tasks Response 400"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Publisher Tasks Response 401 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Publisher Tasks Response 401 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Publisher Tasks Response 401 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Publisher Tasks Response 401"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Publisher Tasks Response 429 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Publisher Tasks Response 429 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Publisher Tasks Response 429 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Publisher Tasks Response 429"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Publisher Tasks Response 500 Error Code"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Publisher Tasks Response 500 Error Message"
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "Publisher Tasks Response 500 Trace Id"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Publisher Tasks Response 500"
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Publisher Tasks Param Accept"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "enum": [
                      "retrieve",
                      "retrieve_batch"
                    ],
                    "type": "string",
                    "default": "retrieve",
                    "description": "Publisher Tasks Action"
                  },
                  "id": {
                    "type": "string",
                    "description": "Publisher Tasks Id"
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Publisher Tasks Ids"
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    }
  }
}
