{
  "openapi": "3.0.0",
  "info": {
    "title": "Publisher Cross-Platform Automatic Publishing",
    "version": "1.0.0",
    "description": "API reference for Publisher Cross-Platform Automatic Publishing on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/publisher/channels": {
      "get": {
        "summary": "Publisher Channels",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "name": "zhihu",
                        "title": "Zhihu",
                        "domain": "zhihu.com"
                      },
                      {
                        "name": "medium",
                        "title": "Medium",
                        "domain": "medium.com"
                      },
                      {
                        "name": "csdn",
                        "title": "CSDN",
                        "domain": "csdn.net"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request was successful."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Channel identifier."
                          },
                          "title": {
                            "type": "string",
                            "description": "Human-readable channel name."
                          },
                          "domain": {
                            "type": "string",
                            "description": "Channel website domain."
                          },
                          "logo": {
                            "type": "string",
                            "description": "Channel logo URL."
                          }
                        }
                      },
                      "description": "List of available publishing channels."
                    }
                  }
                }
              }
            },
            "description": "OK, channels listed successfully."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ]
      }
    },
    "/publisher/configs": {
      "post": {
        "summary": "Publisher Configs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "channel": "zhihu",
                      "valid": true,
                      "updated_at": "2025-01-15T10:30:00Z"
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request was successful."
                    },
                    "data": {
                      "type": "object",
                      "description": "The config information.",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The config ID."
                        },
                        "channel": {
                          "type": "string",
                          "description": "The channel name."
                        },
                        "valid": {
                          "type": "boolean",
                          "description": "Whether the credential is valid."
                        },
                        "updated_at": {
                          "type": "string",
                          "description": "Last update time."
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "OK, config operation performed successfully."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "Invalid channel specified."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request"
                            },
                            "message": {
                              "type": "string",
                              "example": "Invalid channel specified."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "channel",
                  "credential"
                ],
                "properties": {
                  "channel": {
                    "type": "string",
                    "enum": [
                      "zhihu",
                      "bilibili",
                      "csdn",
                      "baijiahao",
                      "xiaohongshu",
                      "weibo",
                      "facebook",
                      "reddit",
                      "x",
                      "medium",
                      "dev",
                      "toutiao",
                      "juejin"
                    ],
                    "description": "The target channel to configure."
                  },
                  "credential": {
                    "type": "object",
                    "description": "The credential data (cookies or tokens) for the channel."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/publisher/generate": {
      "post": {
        "summary": "Publisher Generate",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "title": "小红书教程：如何使用 AI API 提升效率",
                      "content": "✨ 最近发现了一个超好用的 AI API 平台...\n\n💡 三步上手...\n\n📌 实测效果超赞..."
                    }
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request was successful."
                    },
                    "data": {
                      "type": "object",
                      "description": "The generated content optimized for the target channel.",
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "The generated title."
                        },
                        "content": {
                          "type": "string",
                          "description": "The generated content."
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "OK, content generated successfully."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "Unsupported channel for content generation."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request"
                            },
                            "message": {
                              "type": "string",
                              "example": "Unsupported channel for content generation."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token"
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests"
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error"
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "content",
                  "channel"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Introduction to AI APIs",
                    "description": "The original title to rewrite."
                  },
                  "content": {
                    "type": "string",
                    "example": "# Introduction\n\nThis article covers the basics of AI APIs...",
                    "description": "The original content to rewrite for the target channel."
                  },
                  "channel": {
                    "enum": [
                      "xiaohongshu",
                      "medium",
                      "dev",
                      "x"
                    ],
                    "type": "string",
                    "example": "xiaohongshu",
                    "description": "The target channel to optimize content for."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/publisher/publish": {
      "post": {
        "summary": "Publisher Publish",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "task_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab",
                    "data": [
                      {
                        "task_id": "f1e2d3c4-b5a6-7890-abcd-ef1234567890",
                        "channel": "zhihu",
                        "state": "pending"
                      },
                      {
                        "task_id": "a9b8c7d6-e5f4-3210-abcd-ef1234567890",
                        "channel": "medium",
                        "state": "pending"
                      }
                    ]
                  },
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request was successful."
                    },
                    "task_id": {
                      "type": "string",
                      "description": "The parent task ID for tracking the publish batch."
                    },
                    "trace_id": {
                      "type": "string",
                      "description": "The trace ID of this request."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "task_id": {
                            "type": "string",
                            "description": "The sub-task ID for this channel."
                          },
                          "channel": {
                            "type": "string",
                            "description": "The target publishing channel."
                          },
                          "state": {
                            "type": "string",
                            "description": "The current state of the sub-task."
                          }
                        }
                      },
                      "description": "List of sub-tasks created for each channel."
                    }
                  }
                }
              }
            },
            "description": "OK, the publish tasks have been created successfully."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "Invalid channel specified."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Invalid channel specified.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "content",
                  "channels"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Introduction to AI APIs",
                    "description": "The title of the content to publish."
                  },
                  "content": {
                    "type": "string",
                    "example": "# Introduction\n\nThis article covers the basics of AI APIs...",
                    "description": "The content to publish in markdown, HTML, or plain text format."
                  },
                  "content_format": {
                    "enum": [
                      "markdown",
                      "html",
                      "text"
                    ],
                    "type": "string",
                    "default": "markdown",
                    "description": "The format of the content. Defaults to markdown."
                  },
                  "channels": {
                    "type": "array",
                    "items": {
                      "enum": [
                        "zhihu",
                        "bilibili",
                        "csdn",
                        "baijiahao",
                        "xiaohongshu",
                        "weibo",
                        "facebook",
                        "reddit",
                        "x",
                        "medium",
                        "dev",
                        "toutiao",
                        "juejin"
                      ],
                      "type": "string"
                    },
                    "example": [
                      "zhihu",
                      "medium"
                    ],
                    "description": "List of channels to publish to."
                  },
                  "category": {
                    "type": "string",
                    "description": "The category of the content (platform-specific)."
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags for the content."
                  },
                  "thumbnail": {
                    "type": "string",
                    "description": "URL of the thumbnail image."
                  },
                  "generate": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, AI-generate optimized content for each channel before publishing."
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "URL to call back when publishing tasks complete."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/publisher/tasks": {
      "post": {
        "summary": "Publisher Tasks",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the publisher task."
                    },
                    "request": {
                      "type": "object",
                      "description": "The original request parameters of the task.",
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "The title of the content."
                        },
                        "content": {
                          "type": "string",
                          "description": "The content to be published."
                        },
                        "channel": {
                          "type": "string",
                          "description": "The target channel."
                        }
                      }
                    },
                    "response": {
                      "type": "object",
                      "description": "The response data of the task.",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Whether the task succeeded."
                        },
                        "task_id": {
                          "type": "string",
                          "description": "The task ID."
                        },
                        "channel": {
                          "type": "string",
                          "description": "The target channel."
                        },
                        "state": {
                          "type": "string",
                          "description": "Current state: pending, running, completed, failed."
                        },
                        "url": {
                          "type": "string",
                          "description": "The published URL if completed."
                        }
                      }
                    },
                    "created_at": {
                      "type": "number",
                      "description": "Unix timestamp when the task was created."
                    },
                    "started_at": {
                      "type": "number",
                      "description": "Unix timestamp when the task started."
                    },
                    "finished_at": {
                      "type": "number",
                      "description": "Unix timestamp when the task finished."
                    }
                  }
                }
              }
            },
            "description": "Operation performed successfully."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "enum": [
                      "retrieve",
                      "retrieve_batch"
                    ],
                    "type": "string",
                    "description": "Operation type. Use 'retrieve' to get a single task, and 'retrieve_batch' to get multiple tasks."
                  },
                  "id": {
                    "type": "string",
                    "description": "The ID of the publisher task (for retrieve action)."
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The IDs of the publisher tasks (for retrieve_batch action)."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    }
  },
  "tags": [
    {
      "name": "Publisher Cross-Platform Automatic Publishing"
    }
  ]
}