{
  "openapi": "3.0.0",
  "info": {
    "title": "Art QR Code Generation",
    "version": "1.0.0",
    "description": "API reference for Art QR Code Generation on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/qrart/generate": {
      "post": {
        "summary": "Generate an QR code",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "seed": {
                      "type": "number",
                      "description": "Seed value, used to generate the QR code"
                    },
                    "task_id": {
                      "type": "string",
                      "description": "The unique identifier of the task"
                    },
                    "image_url": {
                      "type": "string",
                      "description": "The URL of the generated QR code image"
                    },
                    "image_width": {
                      "type": "string",
                      "description": "The width of the generated QR code image"
                    },
                    "image_height": {
                      "type": "string",
                      "description": "The height of the generated QR code image"
                    }
                  }
                },
                "example": {
                  "seed": 8854035076374666,
                  "task_id": "29393080-1800-418a-a05c-67f94f33059e",
                  "image_url": "https://qrart.cdn.acedata.cloud/attachments/1132182283529494652/1226431639480045698/germey_main_2024-04-07__6612496e1b0700c43d070ea5.png?ex=6624be78&is=66124978&hm=aea84560164d1e7d10531fc81fdaf83dce796be392b46be4ddc6e9231f01b802&",
                  "image_width": 768,
                  "image_height": 768
                }
              }
            },
            "description": "OK, the request was successful."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "code": "token_mismatched",
                        "detail": "The specified token is not matched with API."
                      },
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "token_mismatched"
                        },
                        "detail": {
                          "type": "string",
                          "example": "The specified token is not matched with API."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "code": "api_not_implemented",
                        "detail": "The API is not implemented."
                      },
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "api_not_implemented"
                        },
                        "detail": {
                          "type": "string",
                          "example": "The API is not implemented."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "code": "invalid_token",
                        "detail": "The specified token is invalid or wrong."
                      },
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "invalid_token"
                        },
                        "detail": {
                          "type": "string",
                          "example": "The specified token is invalid or wrong."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "code": "forbidden",
                        "detail": "Sorry! Our Al moderators feel your prompt might be against our community standards."
                      },
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "forbidden"
                        },
                        "detail": {
                          "type": "string",
                          "example": "Sorry! Our Al moderators feel your prompt might be against our community standards."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Forbidden, the request is understood, but it has been refused or access is not allowed."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "code": "too_many_requests",
                        "detail": "You have exceeded the rate limit."
                      },
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "too_many_requests"
                        },
                        "detail": {
                          "type": "string",
                          "example": "You have exceeded the rate limit."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "code": "api_error",
                        "detail": "Internal server error."
                      },
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "api_error"
                        },
                        "detail": {
                          "type": "string",
                          "example": "Internal server error."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "prompt"
                ],
                "properties": {
                  "ecl": {
                    "enum": [
                      "L",
                      "M",
                      "Q",
                      "H"
                    ],
                    "type": "string",
                    "description": "The error correction level of the QR code. The default is H, which is the highest error correction level. For details, see https://www.qrcode.com/en/about/error_correction.html"
                  },
                  "qrw": {
                    "type": "number",
                    "description": "The weight of the QR code. The larger the weight, the closer the image is to the real QR code, but the artistic style will be weakened. The value range is 1.5-3, and the default is 1.5."
                  },
                  "seed": {
                    "type": "number",
                    "description": "Random seed. Used to generate random QR codes. When the seed is the same, the generated QR code style is the same. The range is 1-9007199254740991."
                  },
                  "type": {
                    "enum": [
                      "link",
                      "text",
                      "email",
                      "phone",
                      "sms"
                    ],
                    "type": "string",
                    "description": "Type of the QR code. Such as link, text, etc."
                  },
                  "steps": {
                    "type": "number",
                    "description": "The number of iterations to draw. The larger the number, the stronger the artistic style of the generated QR code, the range is 10-20, and the default is 16."
                  },
                  "preset": {
                    "enum": [
                      "sunset",
                      "floral",
                      "snowflakes",
                      "feathers",
                      "raindrops",
                      "ultra-realism",
                      "epic-realms",
                      "intricate-studio",
                      "symmetric-masterpiece",
                      "luminous-highway",
                      "celestial-journey",
                      "neon-mech",
                      "ethereal-low-poly",
                      "golden-vista",
                      "cinematic-expanse",
                      "cinematic-warm",
                      "desolate-wilderness",
                      "vibrant-palette",
                      "enigmatic-journey",
                      "timeless-cinematic",
                      "regal-galaxy",
                      "illustrious-canvas",
                      "expressive-mural",
                      "serene-haze"
                    ],
                    "type": "string",
                    "description": "The preset background style. The style of the background of the QR code, such as surreal style, neon effect, hand-drawn style, etc."
                  },
                  "prompt": {
                    "type": "string",
                    "example": "mexican tacos",
                    "description": "The prompt. Used to describe the background style of the generated artistic QR code. It is strongly recommended to use English. The specific writing method can refer to the SD official website (https://stablediffusionweb.com)"
                  },
                  "rawurl": {
                    "type": "boolean",
                    "description": "If keep original link. If true, the original link will be kept. By default, the input link will be shortened to a short link, which can improve the scan rate. The default value is false."
                  },
                  "rotate": {
                    "enum": [
                      0,
                      90,
                      180,
                      270
                    ],
                    "type": "number",
                    "description": "The rotation angle of the QR code. The default is 0, which means no rotation."
                  },
                  "content": {
                    "type": "string",
                    "example": "https://platform.acedata.cloud",
                    "description": "The content of the QR code. Such as link content, text content, etc."
                  },
                  "pattern": {
                    "enum": [
                      "custom",
                      "s1",
                      "s2",
                      "s3",
                      "rd1",
                      "rd2",
                      "rd3",
                      "d1",
                      "d2",
                      "d3",
                      "r1",
                      "r2",
                      "r3",
                      "c1",
                      "c2",
                      "c3",
                      "sq1",
                      "sq2",
                      "sq3"
                    ],
                    "type": "string",
                    "description": "The pattern of the QR code. The default is custom, which means that the pattern is generated according to the content. For details, see https://stablediffusionweb.com/patterns"
                  },
                  "position": {
                    "enum": [
                      "center",
                      "top",
                      "right",
                      "bottom",
                      "left",
                      "top-left",
                      "top-right",
                      "bottom-left",
                      "bottom-right"
                    ],
                    "type": "string",
                    "description": "The position of the QR code. The default is center, which means the QR code is in the center of the image."
                  },
                  "sub_marker": {
                    "enum": [
                      "square",
                      "circle",
                      "box",
                      "random",
                      "plus"
                    ],
                    "type": "string",
                    "description": "The sub-marker style of the QR code. The default is square, which means the sub-marker style is square."
                  },
                  "pixel_style": {
                    "enum": [
                      "square",
                      "rounded",
                      "dot",
                      "squircle",
                      "row",
                      "column"
                    ],
                    "type": "string",
                    "description": "The pixel style of the QR code. Such as square, rounded, dot, etc. The default is square."
                  },
                  "aspect_ratio": {
                    "enum": [
                      "1:1",
                      "16:9",
                      "9:16",
                      "4:3",
                      "3:4"
                    ],
                    "type": "string",
                    "description": "The aspect ratio of the QR code. The default is 1:1."
                  },
                  "callback_url": {
                    "type": "string",
                    "example": "https://webhook.site/b3b2f950-d68f-4cc4-b931-667367bff1e3",
                    "description": "The callback URL. The URL to receive the result of the task. If provided, the result will be sent to this URL and task will be executed asynchronously."
                  },
                  "marker_shape": {
                    "enum": [
                      "square",
                      "circle",
                      "plus",
                      "box",
                      "octagon",
                      "random",
                      "tiny-plus"
                    ],
                    "type": "string",
                    "description": "The marker style of the QR code. The default is square, which means the marker style is square."
                  },
                  "padding_level": {
                    "enum": [
                      0,
                      5,
                      10,
                      15,
                      20
                    ],
                    "type": "number",
                    "description": "The padding level of the QR code. The default is 5."
                  },
                  "padding_noise": {
                    "enum": [
                      0,
                      0.25,
                      0.5,
                      0.75,
                      1
                    ],
                    "type": "number",
                    "description": "The padding noise of the QR code. The default is 0."
                  },
                  "content_image_url": {
                    "type": "string",
                    "description": "The url of the QR code image, which contains the real content of QR code."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/qrart/tasks": {
      "post": {
        "summary": "Operate the tasks on the Artistic QR code.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "id": "953df7c1-b051-40d7-bd71-f4fd38fb3b33",
                    "_id": "662a6554550a4144a559bced",
                    "request": {
                      "ecl": "H",
                      "qrw": 1.5,
                      "seed": 1,
                      "type": "text",
                      "ratio": null,
                      "steps": 16,
                      "preset": "sunset",
                      "prompt": "generate a big Christmas tree with a lot of presents under the tree, the Christmas tree is in the front yard next to a decorated house, and Santa and his sleigh flying over the decorated house, with a full moon in the night sky.",
                      "rotate": "0",
                      "content": "12314",
                      "pattern": "custom",
                      "timeout": null,
                      "position": "center",
                      "trace_id": "8112402d-8051-4c15-b60d-0b9c234a2ed8",
                      "sub_marker": "square",
                      "pixel_style": "square",
                      "aspect_ratio": "1:1",
                      "callback_url": null,
                      "image_origin": null,
                      "marker_shape": "square",
                      "padding_level": "5",
                      "padding_noise": "0",
                      "negative_prompt": null,
                      "content_image_url": null
                    },
                    "response": {
                      "seed": 1,
                      "success": true,
                      "image_url": "https://qrart.cdn.acedata.cloud/attachments/1132182283529494652/1233058673824108684/germey_main_2024-04-25__662a65566e552f29fce50a64.png?ex=662bb6e0&is=662a6560&hm=28e9c2be1fdd094c1fb9682272a6f5741e81d33bf165f3e32f1a38581b20b4c0&",
                      "image_width": 768,
                      "image_height": 768
                    }
                  },
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the qrart task."
                    },
                    "request": {
                      "type": "object",
                      "description": "The request of the qrart task."
                    },
                    "response": {
                      "type": "object",
                      "description": "The response of the qrart task."
                    }
                  }
                }
              }
            },
            "description": "Operation performed successfully."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The ID of the qrart task."
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The IDs of the qrart tasks."
                  },
                  "action": {
                    "enum": [
                      "retrieve",
                      "retrieve_batch"
                    ],
                    "type": "string",
                    "default": "generate",
                    "description": "Operation type. Use 'retrieve' to get the generated image, and 'retrieve_batch' to get the batch of generated images."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    }
  },
  "tags": [
    {
      "name": "Art QR Code Generation"
    }
  ]
}