{
  "openapi": "3.0.0",
  "info": {
    "title": "Telegram Account Proxy",
    "version": "1.0.0",
    "description": "API reference for Telegram Account Proxy on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/auth/qr": {
      "post": {
        "summary": "生成登录二维码",
        "description": "Deployment Telegram Bot Create A Short Lived Telegram Login Qr Url",
        "responses": {
          "200": {
            "description": "Deployment Telegram Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Telegram Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Telegram Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Telegram Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Telegram Bot The Requested Telegram Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Telegram Bot Telegram Rate Limit Reached Wait For Retry After Before Retr",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Telegram Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Telegram Bot Telegram Rejected The Request Or Returned An Unexpected Resp",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Telegram Bot The Telegram Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "TelegramAgentProxycreateApiAuthQr"
      }
    },
    "/api/auth/status": {
      "get": {
        "summary": "查询登录状态",
        "description": "Deployment Telegram Bot Return The Current Qr And Account Authentication State",
        "responses": {
          "200": {
            "description": "Deployment Telegram Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Telegram Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Telegram Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Telegram Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Telegram Bot The Requested Telegram Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Telegram Bot Telegram Rate Limit Reached Wait For Retry After Before Retr",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Telegram Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Telegram Bot Telegram Rejected The Request Or Returned An Unexpected Resp",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Telegram Bot The Telegram Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "TelegramAgentProxygetApiAuthStatus"
      }
    },
    "/api/auth/password": {
      "post": {
        "summary": "提交两步验证密码",
        "description": "Deployment Telegram Bot Complete Telegram Two Step Verification The Password Is Not ",
        "responses": {
          "200": {
            "description": "Deployment Telegram Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Telegram Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Telegram Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Telegram Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Telegram Bot The Requested Telegram Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Telegram Bot Telegram Rate Limit Reached Wait For Retry After Before Retr",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Telegram Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Telegram Bot Telegram Rejected The Request Or Returned An Unexpected Resp",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Telegram Bot The Telegram Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "TelegramAgentProxycreateApiAuthPassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "Deployment Telegram Bot Telegram Two Step Verification Password",
                    "format": "password"
                  }
                },
                "required": [
                  "password"
                ]
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "summary": "退出账号",
        "description": "Deployment Telegram Bot Revoke The Telegram Session Held By This Instance",
        "responses": {
          "200": {
            "description": "Deployment Telegram Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Telegram Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Telegram Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Telegram Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Telegram Bot The Requested Telegram Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Telegram Bot Telegram Rate Limit Reached Wait For Retry After Before Retr",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Telegram Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Telegram Bot Telegram Rejected The Request Or Returned An Unexpected Resp",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Telegram Bot The Telegram Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "TelegramAgentProxycreateApiAuthLogout"
      }
    },
    "/api/whoami": {
      "get": {
        "summary": "查看当前账号",
        "description": "Deployment Telegram Bot Return The Telegram Account Connected To This Proxy",
        "responses": {
          "200": {
            "description": "Deployment Telegram Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Telegram Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Telegram Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Telegram Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Telegram Bot The Requested Telegram Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Telegram Bot Telegram Rate Limit Reached Wait For Retry After Before Retr",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Telegram Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Telegram Bot Telegram Rejected The Request Or Returned An Unexpected Resp",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Telegram Bot The Telegram Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "TelegramAgentProxygetApiWhoami"
      }
    },
    "/api/chats": {
      "get": {
        "summary": "列出会话",
        "description": "Deployment Telegram Bot List Recent Telegram Dialogs And Unread Counts",
        "responses": {
          "200": {
            "description": "Deployment Telegram Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Telegram Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Telegram Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Telegram Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Telegram Bot The Requested Telegram Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Telegram Bot Telegram Rate Limit Reached Wait For Retry After Before Retr",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Telegram Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Telegram Bot Telegram Rejected The Request Or Returned An Unexpected Resp",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Telegram Bot The Telegram Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "TelegramAgentProxygetApiChats",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Deployment Telegram Bot Maximum Dialogs To Return",
            "schema": {
              "type": "integer",
              "example": 20
            }
          },
          {
            "name": "unread_only",
            "in": "query",
            "required": false,
            "description": "Deployment Telegram Bot Return Only Unread Dialogs",
            "schema": {
              "type": "string",
              "example": "false"
            }
          }
        ]
      }
    },
    "/api/contacts": {
      "get": {
        "summary": "列出联系人",
        "description": "Deployment Telegram Bot List Contacts Visible To The Connected Account",
        "responses": {
          "200": {
            "description": "Deployment Telegram Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Telegram Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Telegram Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Telegram Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Telegram Bot The Requested Telegram Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Telegram Bot Telegram Rate Limit Reached Wait For Retry After Before Retr",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Telegram Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Telegram Bot Telegram Rejected The Request Or Returned An Unexpected Resp",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Telegram Bot The Telegram Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "TelegramAgentProxygetApiContacts"
      }
    },
    "/api/chats/{target}/messages": {
      "get": {
        "summary": "读取消息",
        "description": "Deployment Telegram Bot Read Recent Messages From A Chat Id Username Or Exact Dialog",
        "responses": {
          "200": {
            "description": "Deployment Telegram Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Telegram Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Telegram Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Telegram Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Telegram Bot The Requested Telegram Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Telegram Bot Telegram Rate Limit Reached Wait For Retry After Before Retr",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Telegram Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Telegram Bot Telegram Rejected The Request Or Returned An Unexpected Resp",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Telegram Bot The Telegram Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "TelegramAgentProxygetApiChatsByTargetMessages",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "description": "Deployment Telegram Bot Chat Id Username Or Exact Dialog Name",
            "schema": {
              "type": "string",
              "example": "me"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Deployment Telegram Bot Maximum Messages To Return",
            "schema": {
              "type": "integer",
              "example": 50
            }
          }
        ]
      }
    },
    "/api/messages/search": {
      "get": {
        "summary": "搜索消息",
        "description": "Deployment Telegram Bot Search One Dialog Or All Dialogs When Target Is Omitted",
        "responses": {
          "200": {
            "description": "Deployment Telegram Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Telegram Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Telegram Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Telegram Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Telegram Bot The Requested Telegram Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Telegram Bot Telegram Rate Limit Reached Wait For Retry After Before Retr",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Telegram Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Telegram Bot Telegram Rejected The Request Or Returned An Unexpected Resp",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Telegram Bot The Telegram Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "TelegramAgentProxygetApiMessagesSearch",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Deployment Telegram Bot Text To Search For",
            "schema": {
              "type": "string",
              "example": "release date"
            }
          },
          {
            "name": "target",
            "in": "query",
            "required": false,
            "description": "Deployment Telegram Bot Optional Target Dialog",
            "schema": {
              "type": "string",
              "example": "me"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Deployment Telegram Bot Maximum Matches To Return",
            "schema": {
              "type": "integer",
              "example": 30
            }
          }
        ]
      }
    },
    "/api/messages": {
      "post": {
        "summary": "发送消息",
        "description": "Deployment Telegram Bot Send A Message As The Connected Personal Account",
        "responses": {
          "200": {
            "description": "Deployment Telegram Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Telegram Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Telegram Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Telegram Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Telegram Bot The Requested Telegram Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Telegram Bot Telegram Rate Limit Reached Wait For Retry After Before Retr",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Telegram Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Telegram Bot Telegram Rejected The Request Or Returned An Unexpected Resp",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Telegram Bot The Telegram Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "TelegramAgentProxycreateApiMessages",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "string",
                    "description": "Deployment Telegram Bot Destination Chat",
                    "example": "me"
                  },
                  "text": {
                    "type": "string",
                    "description": "Deployment Telegram Bot Message Text",
                    "example": "Hello from my Telegram proxy"
                  },
                  "reply_to": {
                    "type": "string",
                    "description": "Deployment Telegram Bot Optional Message Id To Reply To",
                    "example": "123"
                  }
                },
                "required": [
                  "target",
                  "text"
                ]
              }
            }
          }
        }
      }
    },
    "/api/chats/{target}/messages/{message_id}": {
      "delete": {
        "summary": "删除消息",
        "description": "Deployment Telegram Bot Delete A Telegram Message Where The Account Has Permission",
        "responses": {
          "200": {
            "description": "Deployment Telegram Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Telegram Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Telegram Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Telegram Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Telegram Bot The Requested Telegram Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Telegram Bot Telegram Rate Limit Reached Wait For Retry After Before Retr",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Telegram Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Telegram Bot Telegram Rejected The Request Or Returned An Unexpected Resp",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Telegram Bot The Telegram Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "TelegramAgentProxydeleteApiChatsByTargetMessagesByMessage_id",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "description": "Deployment Telegram Bot Target Dialog",
            "schema": {
              "type": "string",
              "example": "me"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "description": "Deployment Telegram Bot Telegram Message Id",
            "schema": {
              "type": "string",
              "example": "123456789012345678"
            }
          }
        ]
      }
    },
    "/api/chats/{target}/messages/{message_id}/reactions": {
      "post": {
        "summary": "添加表情回应",
        "description": "Deployment Telegram Bot React To A Telegram Message With A Unicode Emoji",
        "responses": {
          "200": {
            "description": "Deployment Telegram Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Telegram Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Telegram Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Telegram Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Telegram Bot The Requested Telegram Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Telegram Bot Telegram Rate Limit Reached Wait For Retry After Before Retr",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Telegram Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Telegram Bot Telegram Rejected The Request Or Returned An Unexpected Resp",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Telegram Bot The Telegram Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "TelegramAgentProxycreateApiChatsByTargetMessagesByMessage_idReactions",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "description": "Deployment Telegram Bot Target Dialog",
            "schema": {
              "type": "string",
              "example": "me"
            }
          },
          {
            "name": "message_id",
            "in": "path",
            "required": true,
            "description": "Deployment Telegram Bot Telegram Message Id",
            "schema": {
              "type": "string",
              "example": "123456789012345678"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "emoji": {
                    "type": "string",
                    "description": "Deployment Telegram Bot Unicode Emoji",
                    "example": "👍"
                  }
                },
                "required": [
                  "emoji"
                ]
              }
            }
          }
        }
      }
    },
    "/api/chats/{target}/read": {
      "post": {
        "summary": "标记已读",
        "description": "Deployment Telegram Bot Mark A Telegram Dialog As Read",
        "responses": {
          "200": {
            "description": "Deployment Telegram Bot Request Succeeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Deployment Telegram Bot Invalid Request Parameters Or Json Body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Deployment Telegram Bot The Bearer Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Deployment Telegram Bot The Connected Account Does Not Have Permission For This Oper",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Deployment Telegram Bot The Requested Telegram Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Deployment Telegram Bot Telegram Rate Limit Reached Wait For Retry After Before Retr",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Deployment Telegram Bot The Proxy Encountered An Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Deployment Telegram Bot Telegram Rejected The Request Or Returned An Unexpected Resp",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Deployment Telegram Bot The Telegram Connection Is Not Ready",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Deployment Telegram Bot Human Readable Failure Reason"
                    },
                    "retry_after": {
                      "type": "number",
                      "description": "Deployment Telegram Bot Recommended Wait Time In Seconds For Rate Limits"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "TelegramAgentProxycreateApiChatsByTargetRead",
        "parameters": [
          {
            "name": "target",
            "in": "path",
            "required": true,
            "description": "Deployment Telegram Bot Target Dialog",
            "schema": {
              "type": "string",
              "example": "me"
            }
          }
        ]
      }
    }
  }
}
