{
  "openapi": "3.0.0",
  "info": {
    "title": "TikTok Information",
    "version": "1.0.0",
    "description": "API reference for TikTok Information on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/tiktok/posts": {
      "post": {
        "summary": "Get a TikTok user's work based on their unique id.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "result": 904,
                    "next_cursor": 602
                  },
                  "properties": {
                    "result": {
                      "type": "object",
                      "description": "Return comment result information."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "id for comment information page turning."
                    }
                  }
                }
              }
            },
            "description": "OK, the request was successful."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json",
                "application/x-ndjson"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cursor": {
                    "type": "string",
                    "description": "Post information page turn id, which needs to be returned by next_cursor in the result."
                  },
                  "user_id": {
                    "type": "string",
                    "description": "TikTok's users are unique."
                  },
                  "unique_id": {
                    "type": "string",
                    "description": "The unique name of a TikTok user."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/tiktok/search": {
      "post": {
        "summary": "Search TikTok users and video resources by keyword.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "result": 904,
                    "next_cursor": 602
                  },
                  "properties": {
                    "result": {
                      "type": "object",
                      "description": "Return comment result information."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "id for comment information page turning."
                    }
                  }
                }
              }
            },
            "description": "OK, the request was successful."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json",
                "application/x-ndjson"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "keywords"
                ],
                "properties": {
                  "type": {
                    "enum": [
                      "user",
                      "video"
                    ],
                    "type": "string",
                    "description": "The type of resource you want to search for, usually including users and videos."
                  },
                  "cursor": {
                    "type": "integer",
                    "description": "Post information page turn id, which needs to be returned by cursor in the result."
                  },
                  "region": {
                    "enum": [
                      "us",
                      "jp",
                      "kr",
                      "vn",
                      "br",
                      "ru"
                    ],
                    "type": "string",
                    "description": "Region to search for video resources."
                  },
                  "keywords": {
                    "type": "string",
                    "description": "When searching for user resources, you should enter the user's name, unique_id,When searching for video resources is should be filled in the video name."
                  },
                  "sort_type": {
                    "enum": [
                      0,
                      1,
                      3
                    ],
                    "type": "integer",
                    "description": "Sorting criteria specified when searching for video resources. 0 indicates sorting by keyword relevance, 1 indicates sorting by number of likes, and 3 indicates sorting by publication date."
                  },
                  "publish_time": {
                    "enum": [
                      0,
                      1,
                      24,
                      7,
                      30,
                      90,
                      180
                    ],
                    "type": "integer",
                    "description": "When searching for video resources, specify the release date. 0 indicates unlimited date, 1 indicates expired one day, 7 indicates this week, 30 indicates this month, 90 indicates the past three months, and 180 indicates the past six months."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/tiktok/user": {
      "post": {
        "summary": "Get user details based on a TikTok user's unique id.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "result": 904,
                    "next_cursor": 602
                  },
                  "properties": {
                    "result": {
                      "type": "object",
                      "description": "Return comment result information."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "id for comment information page turning."
                    }
                  }
                }
              }
            },
            "description": "OK, the request was successful."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json",
                "application/x-ndjson"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "keywords"
                ],
                "properties": {
                  "cursor": {
                    "type": "string",
                    "description": "Post information page turn id, which needs to be returned by next_cursor in the result."
                  },
                  "user_id": {
                    "type": "string",
                    "description": "TikTok's users are unique."
                  },
                  "unique_id": {
                    "type": "string",
                    "description": "The unique name of a TikTok user."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/tiktok/video": {
      "post": {
        "summary": "Follow the link to the video on TikTok for more details.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "result": 904,
                    "next_cursor": 602
                  },
                  "properties": {
                    "result": {
                      "type": "object",
                      "description": "Return comment result information."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "id for comment information page turning."
                    }
                  }
                }
              }
            },
            "description": "OK, the request was successful."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json",
                "application/x-ndjson"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "video_url"
                ],
                "properties": {
                  "video_url": {
                    "type": "string",
                    "description": "Specific link to video URL."
                  },
                  "original_quality": {
                    "type": "integer",
                    "description": "Whether to obtain original quality videos，0 indicates not to obtain original quality videos."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    }
  },
  "tags": [
    {
      "name": "TikTok Information"
    }
  ]
}