{
  "openapi": "3.0.0",
  "info": {
    "title": "veo",
    "version": "1.0.0",
    "description": "API reference for veo on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/veo/videos": {
      "post": {
        "summary": "Veo Videos",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "The output video items generated from the prompt"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "The flag indicates the request is successful or not"
                    }
                  }
                }
              }
            },
            "description": "OK, the request is successful."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "disabled",
                          "message": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "disabled",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Your application has been disabled by Ace Data Cloud due to abnormal usage behavior, please contact our support to get more information.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "bad_request",
                          "message": "model is invalid."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "bad_request",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "model is invalid.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_token",
                          "message": "No token specified for the request."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "No token specified for the request.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_expired",
                          "message": "token expired."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_expired",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "token expired.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "token and api does not match."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "token and api does not match.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "used_up",
                          "message": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "used_up",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Your balance is not sufficient for current request, please buy more in Ace Data Cloud.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "no_api",
                          "message": "API does not exist, please make sure url is correct."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "no_api",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "API does not exist, please make sure url is correct.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server, should be application/json."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action"
                ],
                "properties": {
                  "model": {
                    "enum": [
                      "veo2",
                      "veo2-fast",
                      "veo3",
                      "veo3-fast",
                      "veo31-fast",
                      "veo31",
                      "veo31-fast-ingredient"
                    ],
                    "type": "string",
                    "description": "The model used to generate the videos, default value is veo2-fast."
                  },
                  "resolution": {
                    "enum": [
                      "4k",
                      "1080p",
                      "gif"
                    ],
                    "type": "string",
                    "description": "The resolution of the generated video, default value is 720p."
                  },
                  "action": {
                    "enum": [
                      "text2video",
                      "image2video",
                      "get1080p"
                    ],
                    "type": "string",
                    "description": "The action to generate the video. If `text2video`, the video will be generated from the prompt."
                  },
                  "prompt": {
                    "type": "string",
                    "example": "White ceramic coffee mug on glossy marble counter, top with morning window light. Camera slowly rotates 360 degrees around the mug, pausing briefly at the handle.",
                    "description": "The prompt which used to generate the video."
                  },
                  "video_id": {
                    "type": "string",
                    "description": "The video_id need to refer to, this parameter is only valid when action is get1080p."
                  },
                  "translation": {
                    "type": "boolean",
                    "description": "Whether to enable the automatic translation of prompt words, the default value is false."
                  },
                  "aspect_ratio": {
                    "enum": [
                      "9:16",
                      "1:1",
                      "3:4",
                      "4:3",
                      "16:9"
                    ],
                    "type": "string",
                    "description": "Set the video output size, this parameter is only valid when action is image2video, it can auto make the final video adapt to the aspect ratio."
                  },
                  "image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The reference image URLs for generating videos, this parameter is only valid when action is image2video"
                  },
                  "callback_url": {
                    "type": "string",
                    "description": "The callback URL which will be called when the video is generated"
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/veo/tasks": {
      "post": {
        "summary": "Veo Tasks",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the veo task."
                    },
                    "request": {
                      "type": "object",
                      "description": "The request of the veo task."
                    },
                    "response": {
                      "type": "object",
                      "description": "The response of the veo task."
                    }
                  }
                }
              }
            },
            "description": "Operation performed successfully."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "token_mismatched",
                          "message": "The specified token is not matched with API."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "token_mismatched",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is not matched with API.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_not_implemented",
                          "message": "The API is not implemented."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_not_implemented",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The API is not implemented.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bad request, possibly due to missing or invalid parameters."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "invalid_token",
                          "message": "The specified token is invalid or wrong."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "invalid_token",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "The specified token is invalid or wrong.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Unauthorized, invalid or missing authorization token."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "too_many_requests",
                          "message": "You have exceeded the rate limit."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "too_many_requests",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "You have exceeded the rate limit.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Too many requests, you have exceeded the rate limit."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "example": {
                        "error": {
                          "code": "api_error",
                          "message": "Internal server error."
                        },
                        "trace_id": "2efa9340-b21b-4e26-9e14-4aac95f343ab"
                      },
                      "properties": {
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "api_error",
                              "description": "Error code of the response."
                            },
                            "message": {
                              "type": "string",
                              "example": "Internal server error.",
                              "description": "Error message of the response."
                            }
                          }
                        },
                        "trace_id": {
                          "type": "string",
                          "description": "The trace id of this request."
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Internal server error, something went wrong on the server."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The ID of the Veo task."
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The IDs of the Veo tasks."
                  },
                  "action": {
                    "enum": [
                      "retrieve",
                      "retrieve_batch"
                    ],
                    "type": "string",
                    "default": "generate",
                    "description": "Operation type. Use 'retrieve' to get the single task, and 'retrieve_batch' to get the batch of multiple tasks."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    }
  }
}