{
  "openapi": "3.0.0",
  "info": {
    "title": "WebExtrator Web Render & Extract",
    "version": "1.0.0",
    "description": "API reference for WebExtrator Web Render & Extract on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/webextrator/extract": {
      "post": {
        "summary": "Extract structured content from a web page",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "task_id": "550e8400-e29b-41d4-a716-446655440000",
                    "trace_id": "550e8400-e29b-41d4-a716-446655440001",
                    "started_at": "2025-05-02T10:30:00.123Z",
                    "finished_at": "2025-05-02T10:30:08.789Z",
                    "elapsed": 8.666,
                    "data": {
                      "kind": "extract",
                      "url": "https://www.amazon.com/dp/B0C1234567",
                      "contentType": "product",
                      "title": "Acme Widget",
                      "description": "A widget that does things.",
                      "byline": "Acme Inc.",
                      "siteName": "Amazon.com",
                      "images": [
                        "https://example.com/widget.jpg"
                      ],
                      "links": [
                        "https://example.com/related"
                      ],
                      "markdown": "# Acme Widget\n...",
                      "structured": {
                        "price": 19.99,
                        "currency": "USD",
                        "brand": "Acme",
                        "rating": 4.5
                      }
                    }
                  }
                }
              }
            },
            "description": "Successful extract response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "error": {
                      "code": "bad_request",
                      "message": "url is required"
                    }
                  }
                }
              }
            },
            "description": "Bad request — invalid payload."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "error": {
                      "code": "too_many_requests",
                      "message": "queue is busy"
                    }
                  }
                }
              }
            },
            "description": "Backend queue is busy. Retry later or use callback_url for async processing."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "error": {
                      "code": "api_error",
                      "message": "internal server error"
                    }
                  }
                }
              }
            },
            "description": "Internal server error."
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "error": {
                      "code": "timeout",
                      "message": "extract exceeded timeout"
                    }
                  }
                }
              }
            },
            "description": "Extract exceeded the configured timeout."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "example": "https://www.amazon.com/dp/B0C1234567",
                    "description": "The URL of the web page to extract content from."
                  },
                  "expected_type": {
                    "enum": [
                      "product",
                      "article",
                      "general"
                    ],
                    "type": "string",
                    "description": "Hint about the expected page type to optimize extraction."
                  },
                  "enable_llm": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable optional LLM-based semantic normalization as a final extraction step."
                  },
                  "wait_until": {
                    "enum": [
                      "load",
                      "domcontentloaded",
                      "networkidle",
                      "commit"
                    ],
                    "type": "string",
                    "default": "networkidle",
                    "description": "Page load wait condition."
                  },
                  "timeout": {
                    "type": "number",
                    "default": 30,
                    "description": "Total timeout in seconds for the extract operation."
                  },
                  "delay": {
                    "type": "number",
                    "description": "Extra delay in seconds after the page is loaded, before extraction."
                  },
                  "wait_for_selector": {
                    "type": "string",
                    "description": "CSS selector to wait for before starting extraction."
                  },
                  "block_resources": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "image",
                        "font",
                        "media",
                        "stylesheet",
                        "xhr",
                        "fetch"
                      ]
                    },
                    "description": "Resource types to block during page load to speed up extraction."
                  },
                  "headers": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Extra HTTP headers to send with the page request."
                  },
                  "user_agent": {
                    "type": "string",
                    "description": "Override the User-Agent header."
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "example": "https://your.server.com/callback",
                    "description": "If provided, the request is processed asynchronously and the final result is POSTed to this URL."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/webextrator/render": {
      "post": {
        "summary": "Render a web page and return the rendered HTML",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "task_id": "550e8400-e29b-41d4-a716-446655440000",
                    "trace_id": "550e8400-e29b-41d4-a716-446655440001",
                    "started_at": "2025-05-02T10:30:00.123Z",
                    "finished_at": "2025-05-02T10:30:05.456Z",
                    "elapsed": 5.333,
                    "data": {
                      "kind": "render",
                      "url": "https://example.com",
                      "finalUrl": "https://example.com/",
                      "title": "Example Domain",
                      "status": 200,
                      "html": "<!DOCTYPE html><html>...</html>",
                      "text": "Example Domain ...",
                      "userAgent": "Mozilla/5.0 ...",
                      "elapsedMs": 5300
                    }
                  }
                }
              }
            },
            "description": "Successful render response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "error": {
                      "code": "bad_request",
                      "message": "url is required"
                    },
                    "trace_id": "..."
                  }
                }
              }
            },
            "description": "Bad request — invalid payload."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "error": {
                      "code": "too_many_requests",
                      "message": "queue is busy"
                    }
                  }
                }
              }
            },
            "description": "Backend queue is busy. Retry later or use callback_url for async processing."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "error": {
                      "code": "api_error",
                      "message": "internal server error"
                    }
                  }
                }
              }
            },
            "description": "Internal server error."
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "error": {
                      "code": "timeout",
                      "message": "render exceeded timeout"
                    }
                  }
                }
              }
            },
            "description": "Render exceeded the configured timeout."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "example": "https://example.com",
                    "description": "The URL of the web page to render."
                  },
                  "wait_until": {
                    "enum": [
                      "load",
                      "domcontentloaded",
                      "networkidle",
                      "commit"
                    ],
                    "type": "string",
                    "default": "networkidle",
                    "description": "Page load wait condition."
                  },
                  "timeout": {
                    "type": "number",
                    "default": 30,
                    "description": "Total timeout in seconds for the render operation."
                  },
                  "delay": {
                    "type": "number",
                    "description": "Extra delay in seconds after the page is loaded, before HTML is captured."
                  },
                  "wait_for_selector": {
                    "type": "string",
                    "description": "CSS selector to wait for before capturing HTML."
                  },
                  "block_resources": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "image",
                        "font",
                        "media",
                        "stylesheet",
                        "xhr",
                        "fetch"
                      ]
                    },
                    "description": "Resource types to block during page load to speed up rendering."
                  },
                  "headers": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "description": "Extra HTTP headers to send with the page request."
                  },
                  "user_agent": {
                    "type": "string",
                    "description": "Override the User-Agent header."
                  },
                  "callback_url": {
                    "type": "string",
                    "format": "uri",
                    "example": "https://your.server.com/callback",
                    "description": "If provided, the request is processed asynchronously and the final result is POSTed to this URL."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    },
    "/webextrator/tasks": {
      "post": {
        "summary": "Query previously created render/extract tasks",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "id": "550e8400-e29b-41d4-a716-446655440000",
                    "trace_id": "550e8400-e29b-41d4-a716-446655440001",
                    "task_id": "550e8400-e29b-41d4-a716-446655440000",
                    "type": "render",
                    "started_at": "2025-05-02T10:30:00.123Z",
                    "finished_at": "2025-05-02T10:30:05.456Z",
                    "elapsed": 5.333,
                    "request": {
                      "url": "https://example.com"
                    },
                    "response": {
                      "kind": "render",
                      "title": "Example Domain"
                    }
                  }
                }
              }
            },
            "description": "Successful response. Single task object for `retrieve`, or `{items, count}` for `retrieve_batch`."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "error": {
                      "code": "bad_request",
                      "message": "invalid action"
                    }
                  }
                }
              }
            },
            "description": "Bad request — invalid payload."
          }
        },
        "parameters": [
          {
            "in": "header",
            "name": "accept",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string"
            },
            "required": false,
            "description": "Specifies the format of the response from the server."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action"
                ],
                "properties": {
                  "action": {
                    "enum": [
                      "retrieve",
                      "retrieve_batch"
                    ],
                    "type": "string",
                    "description": "Either `retrieve` (single task) or `retrieve_batch` (multiple tasks)."
                  },
                  "id": {
                    "type": "string",
                    "description": "Task UUID — used by `retrieve`."
                  },
                  "trace_id": {
                    "type": "string",
                    "description": "Trace UUID — used by `retrieve` as an alternative lookup."
                  },
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of task UUIDs — used by `retrieve_batch`."
                  },
                  "trace_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of trace UUIDs — used by `retrieve_batch`."
                  },
                  "offset": {
                    "type": "number",
                    "default": 0,
                    "description": "Pagination offset for `retrieve_batch`."
                  },
                  "limit": {
                    "type": "number",
                    "default": 12,
                    "description": "Pagination limit for `retrieve_batch`."
                  }
                }
              }
            }
          },
          "required": true
        }
      }
    }
  },
  "tags": [
    {
      "name": "WebExtrator Web Render & Extract"
    }
  ]
}