{
  "openapi": "3.0.0",
  "info": {
    "title": "WeChat Automation Bot Service",
    "version": "1.0.0",
    "description": "API reference for WeChat Automation Bot Service on Ace Data Cloud."
  },
  "servers": [
    {
      "url": "https://api.acedata.cloud",
      "description": "Ace Data Cloud API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token from https://platform.acedata.cloud"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/account": {
      "get": {
        "summary": "获取账号信息",
        "description": "Appliance Wechat Bot Return The Logged In Account S Profile Plus Its Current Stat",
        "responses": {
          "200": {
            "description": "Appliance Wechat Bot Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Appliance Wechat Bot Internal Account Record Id"
                    },
                    "wechat_id": {
                      "type": "string",
                      "description": "Appliance Wechat Bot Wechat Id Of The Logged In Account"
                    },
                    "nickname": {
                      "type": "string",
                      "description": "Appliance Wechat Bot Display Name Of The Logged In Account"
                    },
                    "avatar_url": {
                      "type": "string",
                      "description": "Appliance Wechat Bot Url Of The Account S Avatar Image"
                    },
                    "signature": {
                      "type": "string",
                      "description": "Appliance Wechat Bot Profile Signature"
                    },
                    "region": {
                      "type": "string",
                      "description": "Appliance Wechat Bot Region Shown On The Profile"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "online",
                        "offline",
                        "unknown"
                      ],
                      "description": "Appliance Wechat Bot Account State Whether The Session Is Usable"
                    }
                  },
                  "type": "object",
                  "required": [
                    "id",
                    "nickname",
                    "status"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Appliance Wechat Bot Unauthorized The Api Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "unauthorized"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "unauthorized",
                      "message": "Invalid API token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Appliance Wechat Bot Not Signed In This Endpoint Requires The Instance To Be Logg",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "sign_in_required"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "sign_in_required",
                      "message": "WeChat is not signed in"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Appliance Wechat Bot Internal Error The Operation Failed Retry Is Safe",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "internal_error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "internal_error",
                      "message": "Operation failed"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Appliance Wechat Bot The Wechat Client Is Not Ready The Instance Is Starting Up O",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "wechat_not_running"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "wechat_not_running",
                      "message": "WeChat client is not ready"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "WeChatBotgetApiAccount"
      }
    },
    "/api/auth/qr": {
      "get": {
        "summary": "获取登录二维码",
        "description": "Appliance Wechat Bot Get The Login Qr Code Image Returns Url Https Default Or Bas",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(url|base64)$",
              "description": "Appliance Wechat Bot Response Type Url Cdn Default Or Base64 Inline",
              "example": "url"
            },
            "description": "Appliance Wechat Bot Response Type Url Cdn Default Or Base64 Inline"
          }
        ],
        "responses": {
          "202": {
            "description": "Appliance Wechat Bot Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Appliance Wechat Bot Task Id Poll Get Api Tasks Task Id With It"
                    },
                    "kind": {
                      "type": "string",
                      "description": "Appliance Wechat Bot Which Action Was Queued E G Message Send"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ],
                      "description": "Appliance Wechat Bot Queued Running Succeeded Or Failed"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Appliance Wechat Bot Time The Task Was Queued"
                    },
                    "started_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Appliance Wechat Bot Time Execution Began Null While Still Queued"
                    },
                    "finished_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Appliance Wechat Bot Time Execution Ended Null Until It Finishes"
                    },
                    "result": {
                      "description": "Appliance Wechat Bot Action Specific Result Payload Once Succeeded"
                    },
                    "error": {
                      "type": "object",
                      "description": "Appliance Wechat Bot Error Code And Message Once Failed",
                      "additionalProperties": true
                    }
                  },
                  "type": "object",
                  "required": [
                    "id",
                    "kind",
                    "status",
                    "created_at"
                  ],
                  "description": "Appliance Wechat Bot Envelope Returned By Every Queued Action Http 202 The Work R"
                }
              }
            }
          },
          "401": {
            "description": "Appliance Wechat Bot Unauthorized The Api Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "unauthorized"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "unauthorized",
                      "message": "Invalid API token"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Appliance Wechat Bot Conflict E G Requesting The Qr Code While Already Logged In",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "already_logged_in"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "already_logged_in",
                      "message": "Already logged in"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Appliance Wechat Bot Validation Failed A Required Parameter Is Missing Or Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "validation_error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "validation_error",
                      "message": "body → target: field required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Appliance Wechat Bot Internal Error The Operation Failed Retry Is Safe",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "internal_error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "internal_error",
                      "message": "Operation failed"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Appliance Wechat Bot The Wechat Client Is Not Ready The Instance Is Starting Up O",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "wechat_not_running"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "wechat_not_running",
                      "message": "WeChat client is not ready"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "WeChatBotgetApiAuthQr"
      }
    },
    "/api/contacts": {
      "get": {
        "summary": "获取联系人列表",
        "description": "Appliance Wechat Bot Return The Logged In Account S Contacts",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 200,
              "minimum": 1,
              "description": "Appliance Wechat Bot Maximum Number Of Contacts",
              "example": 50
            },
            "description": "Appliance Wechat Bot Maximum Number Of Contacts"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 1000,
              "minimum": 0,
              "description": "Appliance Wechat Bot Number Of Contacts To Skip Maximum 1000",
              "example": 0
            },
            "description": "Appliance Wechat Bot Number Of Contacts To Skip Maximum 1000"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Appliance Wechat Bot Filter By Type Friend Group Official"
            },
            "description": "Appliance Wechat Bot Filter By Type Friend Group Official"
          }
        ],
        "responses": {
          "200": {
            "description": "Appliance Wechat Bot Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "total": {
                      "type": "number",
                      "description": "Appliance Wechat Bot Total Number Of Contacts Matching The Query"
                    },
                    "contacts": {
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Appliance Wechat Bot Internal Contact Record Id"
                          },
                          "wechat_id": {
                            "type": "string",
                            "description": "Appliance Wechat Bot Contact S Wechat Id"
                          },
                          "nickname": {
                            "type": "string",
                            "description": "Appliance Wechat Bot Contact S Display Name"
                          },
                          "remark": {
                            "type": "string",
                            "description": "Appliance Wechat Bot Your Private Remark Name For This Contact"
                          },
                          "alias": {
                            "type": "string",
                            "description": "Appliance Wechat Bot Contact S Custom Alias When Set"
                          },
                          "avatar_url": {
                            "type": "string",
                            "description": "Appliance Wechat Bot Url Of The Contact S Avatar Image"
                          },
                          "signature": {
                            "type": "string",
                            "description": "Appliance Wechat Bot Contact S Profile Signature"
                          },
                          "region": {
                            "type": "string",
                            "description": "Appliance Wechat Bot Region Shown On The Contact S Profile"
                          },
                          "city": {
                            "type": "string",
                            "description": "Appliance Wechat Bot City Shown On The Contact S Profile"
                          },
                          "province": {
                            "type": "string",
                            "description": "Appliance Wechat Bot Province Shown On The Contact S Profile"
                          },
                          "gender": {
                            "type": "string",
                            "description": "Appliance Wechat Bot Gender Shown On The Contact S Profile"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "friend",
                              "group",
                              "official"
                            ],
                            "description": "Appliance Wechat Bot Contact Kind Friend Group Or Official Account"
                          },
                          "is_star": {
                            "type": "boolean",
                            "description": "Appliance Wechat Bot Whether The Contact Is Starred"
                          }
                        },
                        "type": "object",
                        "required": [
                          "id",
                          "nickname",
                          "type",
                          "is_star"
                        ]
                      },
                      "type": "array",
                      "description": "Appliance Wechat Bot The Contacts On This Page"
                    }
                  },
                  "type": "object",
                  "required": [
                    "total",
                    "contacts"
                  ],
                  "description": "Appliance Wechat Bot Response For Get Api Contacts"
                }
              }
            }
          },
          "401": {
            "description": "Appliance Wechat Bot Unauthorized The Api Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "unauthorized"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "unauthorized",
                      "message": "Invalid API token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Appliance Wechat Bot Not Signed In This Endpoint Requires The Instance To Be Logg",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "sign_in_required"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "sign_in_required",
                      "message": "WeChat is not signed in"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Appliance Wechat Bot Validation Failed A Required Parameter Is Missing Or Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "validation_error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "validation_error",
                      "message": "body → target: field required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Appliance Wechat Bot Internal Error The Operation Failed Retry Is Safe",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "internal_error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "internal_error",
                      "message": "Operation failed"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Appliance Wechat Bot The Wechat Client Is Not Ready The Instance Is Starting Up O",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "wechat_not_running"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "wechat_not_running",
                      "message": "WeChat client is not ready"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "WeChatBotgetApiContacts"
      }
    },
    "/api/conversations": {
      "get": {
        "summary": "获取会话列表",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1,
              "description": "Appliance Wechat Bot Maximum Number Of Conversations Values Above 200 Are Clamped",
              "example": 50
            },
            "description": "Appliance Wechat Bot Maximum Number Of Conversations Values Above 200 Are Clamped"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 1000,
              "minimum": 0,
              "description": "Appliance Wechat Bot Number Of Conversations To Skip Maximum 1000",
              "example": 0
            },
            "description": "Appliance Wechat Bot Number Of Conversations To Skip Maximum 1000"
          }
        ],
        "responses": {
          "200": {
            "description": "Appliance Wechat Bot Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "total": {
                      "type": "number",
                      "description": "Appliance Wechat Bot Total Number Of Conversations Matching The Query"
                    },
                    "conversations": {
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Appliance Wechat Bot Conversation Id Pass As Conversation Id To Get Api Messages"
                          },
                          "name": {
                            "type": "string",
                            "description": "Appliance Wechat Bot Conversation Title Contact Remark Nickname Or The Group Name"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "private",
                              "group"
                            ],
                            "description": "Appliance Wechat Bot Conversation Kind Private Chat Group Or Official Account"
                          },
                          "contact_id": {
                            "type": "string",
                            "description": "Appliance Wechat Bot Id Of The Peer Contact For One To One Chats"
                          },
                          "is_pinned": {
                            "type": "boolean",
                            "description": "Appliance Wechat Bot Whether The Chat Is Pinned To The Top",
                            "example": false
                          },
                          "is_muted": {
                            "type": "boolean",
                            "description": "Appliance Wechat Bot Whether Notifications Are Muted",
                            "example": false
                          },
                          "unread_count": {
                            "type": "number",
                            "description": "Appliance Wechat Bot Number Of Unread Messages",
                            "example": 0
                          },
                          "last_active_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Appliance Wechat Bot Time Of The Most Recent Message"
                          },
                          "messages": {
                            "items": {
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Appliance Wechat Bot Message Id Unique Within The Conversation"
                                },
                                "conversation_id": {
                                  "type": "string",
                                  "description": "Appliance Wechat Bot Id Of The Conversation This Message Belongs To"
                                },
                                "contact_id": {
                                  "type": "string",
                                  "description": "Appliance Wechat Bot Id Of The Peer Contact For One To One Chats"
                                },
                                "sender_id": {
                                  "type": "string",
                                  "description": "Appliance Wechat Bot Id Of The Sender Absent For Your Own Messages"
                                },
                                "sender_name": {
                                  "type": "string",
                                  "description": "Appliance Wechat Bot Display Name Of The Sender"
                                },
                                "conversation_name": {
                                  "type": "string",
                                  "description": "Appliance Wechat Bot Title Of The Conversation"
                                },
                                "direction": {
                                  "type": "string",
                                  "enum": [
                                    "inbound",
                                    "outbound"
                                  ],
                                  "description": "Appliance Wechat Bot Whether The Message Was Received Or Sent By You"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "text",
                                    "image",
                                    "video",
                                    "file",
                                    "voice",
                                    "link",
                                    "sticker",
                                    "system",
                                    "location"
                                  ],
                                  "description": "Appliance Wechat Bot Message Kind Text Image Video File Link"
                                },
                                "text": {
                                  "type": "string",
                                  "description": "Appliance Wechat Bot Text Content For Text Messages"
                                },
                                "image_url": {
                                  "type": "string",
                                  "description": "Appliance Wechat Bot Image Url For Image Messages"
                                },
                                "video_url": {
                                  "type": "string",
                                  "description": "Appliance Wechat Bot Video Url For Video Messages"
                                },
                                "file_url": {
                                  "type": "string",
                                  "description": "Appliance Wechat Bot File Url For File Messages"
                                },
                                "link_url": {
                                  "type": "string",
                                  "description": "Appliance Wechat Bot Target Url For Shared Link Messages"
                                },
                                "link_title": {
                                  "type": "string",
                                  "description": "Appliance Wechat Bot Title Of The Shared Link"
                                },
                                "mentions": {
                                  "items": {
                                    "type": "string"
                                  },
                                  "type": "array",
                                  "description": "Appliance Wechat Bot Names Mentioned In This Message Group Chats"
                                },
                                "quoted_text": {
                                  "type": "string",
                                  "description": "Appliance Wechat Bot Text Of The Quoted Message For Reply Messages"
                                },
                                "conversation_type": {
                                  "type": "string",
                                  "enum": [
                                    "private",
                                    "group"
                                  ],
                                  "description": "Appliance Wechat Bot Whether This Arrived In A Group Or A Private Chat"
                                },
                                "sent_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "Appliance Wechat Bot Time The Message Was Sent"
                                }
                              },
                              "type": "object",
                              "required": [
                                "id",
                                "conversation_id",
                                "direction",
                                "type"
                              ]
                            },
                            "type": "array",
                            "description": "Appliance Wechat Bot Recent Messages When The Caller Asked For Them",
                            "example": []
                          }
                        },
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "type"
                        ]
                      },
                      "type": "array",
                      "description": "Appliance Wechat Bot The Conversations On This Page"
                    }
                  },
                  "type": "object",
                  "required": [
                    "total",
                    "conversations"
                  ],
                  "description": "Appliance Wechat Bot Response For Get Api Conversations"
                }
              }
            }
          },
          "401": {
            "description": "Appliance Wechat Bot Unauthorized The Api Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "unauthorized"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "unauthorized",
                      "message": "Invalid API token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Appliance Wechat Bot Not Signed In This Endpoint Requires The Instance To Be Logg",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "sign_in_required"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "sign_in_required",
                      "message": "WeChat is not signed in"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Appliance Wechat Bot Validation Failed A Required Parameter Is Missing Or Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "validation_error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "validation_error",
                      "message": "body → target: field required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Appliance Wechat Bot Internal Error The Operation Failed Retry Is Safe",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "internal_error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "internal_error",
                      "message": "Operation failed"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Appliance Wechat Bot The Wechat Client Is Not Ready The Instance Is Starting Up O",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "wechat_not_running"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "wechat_not_running",
                      "message": "WeChat client is not ready"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "WeChatBotgetApiConversations"
      }
    },
    "/api/groups": {
      "post": {
        "summary": "创建群聊",
        "description": "Appliance Wechat Bot Create A Group Chat Async Task Selects 2 Contacts By Display",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "members": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array",
                    "minItems": 2,
                    "description": "Appliance Wechat Bot Names Of 2 Contacts To Start The Group With Nickname Remark"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Appliance Wechat Bot Optional Group Name When Set The New Group Is Renamed To Thi"
                  }
                },
                "type": "object",
                "required": [
                  "members"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Appliance Wechat Bot Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Appliance Wechat Bot Task Id Poll Get Api Tasks Task Id With It"
                    },
                    "kind": {
                      "type": "string",
                      "description": "Appliance Wechat Bot Which Action Was Queued E G Message Send"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ],
                      "description": "Appliance Wechat Bot Queued Running Succeeded Or Failed"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Appliance Wechat Bot Time The Task Was Queued"
                    },
                    "started_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Appliance Wechat Bot Time Execution Began Null While Still Queued"
                    },
                    "finished_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Appliance Wechat Bot Time Execution Ended Null Until It Finishes"
                    },
                    "result": {
                      "description": "Appliance Wechat Bot Action Specific Result Payload Once Succeeded"
                    },
                    "error": {
                      "type": "object",
                      "description": "Appliance Wechat Bot Error Code And Message Once Failed",
                      "additionalProperties": true
                    }
                  },
                  "type": "object",
                  "required": [
                    "id",
                    "kind",
                    "status",
                    "created_at"
                  ],
                  "description": "Appliance Wechat Bot Envelope Returned By Every Queued Action Http 202 The Work R"
                }
              }
            }
          },
          "401": {
            "description": "Appliance Wechat Bot Unauthorized The Api Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "unauthorized"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "unauthorized",
                      "message": "Invalid API token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Appliance Wechat Bot Not Signed In This Endpoint Requires The Instance To Be Logg",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "sign_in_required"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "sign_in_required",
                      "message": "WeChat is not signed in"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Appliance Wechat Bot Validation Failed A Required Parameter Is Missing Or Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "validation_error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "validation_error",
                      "message": "body → target: field required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Appliance Wechat Bot Internal Error The Operation Failed Retry Is Safe",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "internal_error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "internal_error",
                      "message": "Operation failed"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Appliance Wechat Bot The Wechat Client Is Not Ready The Instance Is Starting Up O",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "wechat_not_running"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "wechat_not_running",
                      "message": "WeChat client is not ready"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "WeChatBotcreateApiGroups"
      }
    },
    "/api/groups/invite": {
      "post": {
        "summary": "邀请入群",
        "description": "Appliance Wechat Bot Invite Members Into An Existing Group Async Task Adds The Gi",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "group": {
                    "type": "string",
                    "description": "Appliance Wechat Bot Display Name Of The Existing Group To Invite Into"
                  },
                  "members": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array",
                    "minItems": 1,
                    "description": "Appliance Wechat Bot Names Of The Contacts To Invite Nickname Remark"
                  }
                },
                "type": "object",
                "required": [
                  "group",
                  "members"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Appliance Wechat Bot Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Appliance Wechat Bot Task Id Poll Get Api Tasks Task Id With It"
                    },
                    "kind": {
                      "type": "string",
                      "description": "Appliance Wechat Bot Which Action Was Queued E G Message Send"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ],
                      "description": "Appliance Wechat Bot Queued Running Succeeded Or Failed"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Appliance Wechat Bot Time The Task Was Queued"
                    },
                    "started_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Appliance Wechat Bot Time Execution Began Null While Still Queued"
                    },
                    "finished_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Appliance Wechat Bot Time Execution Ended Null Until It Finishes"
                    },
                    "result": {
                      "description": "Appliance Wechat Bot Action Specific Result Payload Once Succeeded"
                    },
                    "error": {
                      "type": "object",
                      "description": "Appliance Wechat Bot Error Code And Message Once Failed",
                      "additionalProperties": true
                    }
                  },
                  "type": "object",
                  "required": [
                    "id",
                    "kind",
                    "status",
                    "created_at"
                  ],
                  "description": "Appliance Wechat Bot Envelope Returned By Every Queued Action Http 202 The Work R"
                }
              }
            }
          },
          "401": {
            "description": "Appliance Wechat Bot Unauthorized The Api Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "unauthorized"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "unauthorized",
                      "message": "Invalid API token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Appliance Wechat Bot Not Signed In This Endpoint Requires The Instance To Be Logg",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "sign_in_required"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "sign_in_required",
                      "message": "WeChat is not signed in"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Appliance Wechat Bot Validation Failed A Required Parameter Is Missing Or Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "validation_error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "validation_error",
                      "message": "body → target: field required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Appliance Wechat Bot Internal Error The Operation Failed Retry Is Safe",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "internal_error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "internal_error",
                      "message": "Operation failed"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Appliance Wechat Bot The Wechat Client Is Not Ready The Instance Is Starting Up O",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "wechat_not_running"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "wechat_not_running",
                      "message": "WeChat client is not ready"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "WeChatBotcreateApiGroupsInvite"
      }
    },
    "/api/groups/remove": {
      "post": {
        "summary": "移出群成员",
        "description": "Appliance Wechat Bot Remove Members From A Group Async Task Kicks The Given Membe",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "group": {
                    "type": "string",
                    "description": "Appliance Wechat Bot Display Name Of The Existing Group To Remove Members From"
                  },
                  "members": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array",
                    "minItems": 1,
                    "description": "Appliance Wechat Bot Names Of The Members To Remove Kick Nickname Remark Former N"
                  }
                },
                "type": "object",
                "required": [
                  "group",
                  "members"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Appliance Wechat Bot Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Appliance Wechat Bot Task Id Poll Get Api Tasks Task Id With It"
                    },
                    "kind": {
                      "type": "string",
                      "description": "Appliance Wechat Bot Which Action Was Queued E G Message Send"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ],
                      "description": "Appliance Wechat Bot Queued Running Succeeded Or Failed"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Appliance Wechat Bot Time The Task Was Queued"
                    },
                    "started_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Appliance Wechat Bot Time Execution Began Null While Still Queued"
                    },
                    "finished_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Appliance Wechat Bot Time Execution Ended Null Until It Finishes"
                    },
                    "result": {
                      "description": "Appliance Wechat Bot Action Specific Result Payload Once Succeeded"
                    },
                    "error": {
                      "type": "object",
                      "description": "Appliance Wechat Bot Error Code And Message Once Failed",
                      "additionalProperties": true
                    }
                  },
                  "type": "object",
                  "required": [
                    "id",
                    "kind",
                    "status",
                    "created_at"
                  ],
                  "description": "Appliance Wechat Bot Envelope Returned By Every Queued Action Http 202 The Work R"
                }
              }
            }
          },
          "401": {
            "description": "Appliance Wechat Bot Unauthorized The Api Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "unauthorized"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "unauthorized",
                      "message": "Invalid API token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Appliance Wechat Bot Not Signed In This Endpoint Requires The Instance To Be Logg",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "sign_in_required"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "sign_in_required",
                      "message": "WeChat is not signed in"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Appliance Wechat Bot Validation Failed A Required Parameter Is Missing Or Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "validation_error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "validation_error",
                      "message": "body → target: field required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Appliance Wechat Bot Internal Error The Operation Failed Retry Is Safe",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "internal_error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "internal_error",
                      "message": "Operation failed"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Appliance Wechat Bot The Wechat Client Is Not Ready The Instance Is Starting Up O",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "wechat_not_running"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "wechat_not_running",
                      "message": "WeChat client is not ready"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "WeChatBotcreateApiGroupsRemove"
      }
    },
    "/api/groups/rename": {
      "post": {
        "summary": "修改群名称",
        "description": "Appliance Wechat Bot Rename A Group Async Task Sets The Named Group S Group Name ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "group": {
                    "type": "string",
                    "description": "Appliance Wechat Bot Current Display Name Of The Existing Group To Rename"
                  },
                  "new_name": {
                    "type": "string",
                    "maxLength": 100,
                    "minLength": 1,
                    "description": "Appliance Wechat Bot New Group Name Changes It For All Members"
                  }
                },
                "type": "object",
                "required": [
                  "group",
                  "new_name"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Appliance Wechat Bot Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Appliance Wechat Bot Task Id Poll Get Api Tasks Task Id With It"
                    },
                    "kind": {
                      "type": "string",
                      "description": "Appliance Wechat Bot Which Action Was Queued E G Message Send"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "running",
                        "succeeded",
                        "failed"
                      ],
                      "description": "Appliance Wechat Bot Queued Running Succeeded Or Failed"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Appliance Wechat Bot Time The Task Was Queued"
                    },
                    "started_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Appliance Wechat Bot Time Execution Began Null While Still Queued"
                    },
                    "finished_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Appliance Wechat Bot Time Execution Ended Null Until It Finishes"
                    },
                    "result": {
                      "description": "Appliance Wechat Bot Action Specific Result Payload Once Succeeded"
                    },
                    "error": {
                      "type": "object",
                      "description": "Appliance Wechat Bot Error Code And Message Once Failed",
                      "additionalProperties": true
                    }
                  },
                  "type": "object",
                  "required": [
                    "id",
                    "kind",
                    "status",
                    "created_at"
                  ],
                  "description": "Appliance Wechat Bot Envelope Returned By Every Queued Action Http 202 The Work R"
                }
              }
            }
          },
          "401": {
            "description": "Appliance Wechat Bot Unauthorized The Api Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "unauthorized"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "unauthorized",
                      "message": "Invalid API token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Appliance Wechat Bot Not Signed In This Endpoint Requires The Instance To Be Logg",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "sign_in_required"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "sign_in_required",
                      "message": "WeChat is not signed in"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Appliance Wechat Bot Validation Failed A Required Parameter Is Missing Or Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "validation_error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "validation_error",
                      "message": "body → target: field required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Appliance Wechat Bot Internal Error The Operation Failed Retry Is Safe",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "internal_error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "internal_error",
                      "message": "Operation failed"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Appliance Wechat Bot The Wechat Client Is Not Ready The Instance Is Starting Up O",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "wechat_not_running"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "wechat_not_running",
                      "message": "WeChat client is not ready"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "WeChatBotcreateApiGroupsRename"
      }
    },
    "/api/messages": {
      "get": {
        "summary": "获取消息列表",
        "parameters": [
          {
            "name": "conversation_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Appliance Wechat Bot Conversation Id As Returned By Get Api Conversations"
            },
            "description": "Appliance Wechat Bot Conversation Id As Returned By Get Api Conversations"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 200,
              "minimum": 1,
              "description": "Appliance Wechat Bot Maximum Number Of Messages To Return",
              "example": 50
            },
            "description": "Appliance Wechat Bot Maximum Number Of Messages To Return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 1000,
              "minimum": 0,
              "description": "Appliance Wechat Bot Number Of Messages To Skip Maximum 1000",
              "example": 0
            },
            "description": "Appliance Wechat Bot Number Of Messages To Skip Maximum 1000"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(asc|desc)$",
              "description": "Appliance Wechat Bot Sort Order Asc Oldest First Or Desc Newest First",
              "example": "asc"
            },
            "description": "Appliance Wechat Bot Sort Order Asc Oldest First Or Desc Newest First"
          }
        ],
        "responses": {
          "200": {
            "description": "Appliance Wechat Bot Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Appliance Wechat Bot Message Id Unique Within The Conversation"
                      },
                      "conversation_id": {
                        "type": "string",
                        "description": "Appliance Wechat Bot Id Of The Conversation This Message Belongs To"
                      },
                      "contact_id": {
                        "type": "string",
                        "description": "Appliance Wechat Bot Id Of The Peer Contact For One To One Chats"
                      },
                      "sender_id": {
                        "type": "string",
                        "description": "Appliance Wechat Bot Id Of The Sender Absent For Your Own Messages"
                      },
                      "sender_name": {
                        "type": "string",
                        "description": "Appliance Wechat Bot Display Name Of The Sender"
                      },
                      "conversation_name": {
                        "type": "string",
                        "description": "Appliance Wechat Bot Title Of The Conversation"
                      },
                      "direction": {
                        "type": "string",
                        "enum": [
                          "inbound",
                          "outbound"
                        ],
                        "description": "Appliance Wechat Bot Whether The Message Was Received Or Sent By You"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "text",
                          "image",
                          "video",
                          "file",
                          "voice",
                          "link",
                          "sticker",
                          "system",
                          "location"
                        ],
                        "description": "Appliance Wechat Bot Message Kind Text Image Video File Link"
                      },
                      "text": {
                        "type": "string",
                        "description": "Appliance Wechat Bot Text Content For Text Messages"
                      },
                      "image_url": {
                        "type": "string",
                        "description": "Appliance Wechat Bot Image Url For Image Messages"
                      },
                      "video_url": {
                        "type": "string",
                        "description": "Appliance Wechat Bot Video Url For Video Messages"
                      },
                      "file_url": {
                        "type": "string",
                        "description": "Appliance Wechat Bot File Url For File Messages"
                      },
                      "link_url": {
                        "type": "string",
                        "description": "Appliance Wechat Bot Target Url For Shared Link Messages"
                      },
                      "link_title": {
                        "type": "string",
                        "description": "Appliance Wechat Bot Title Of The Shared Link"
                      },
                      "mentions": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array",
                        "description": "Appliance Wechat Bot Names Mentioned In This Message Group Chats"
                      },
                      "quoted_text": {
                        "type": "string",
                        "description": "Appliance Wechat Bot Text Of The Quoted Message For Reply Messages"
                      },
                      "conversation_type": {
                        "type": "string",
                        "enum": [
                          "private",
                          "group"
                        ],
                        "description": "Appliance Wechat Bot Whether This Arrived In A Group Or A Private Chat"
                      },
                      "sent_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Appliance Wechat Bot Time The Message Was Sent"
                      }
                    },
                    "type": "object",
                    "required": [
                      "id",
                      "conversation_id",
                      "direction",
                      "type"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Appliance Wechat Bot Unauthorized The Api Token Is Missing Or Incorrect",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "unauthorized"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "unauthorized",
                      "message": "Invalid API token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Appliance Wechat Bot Not Signed In This Endpoint Requires The Instance To Be Logg",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "sign_in_required"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "sign_in_required",
                      "message": "WeChat is not signed in"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Appliance Wechat Bot Validation Failed A Required Parameter Is Missing Or Invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "validation_error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "validation_error",
                      "message": "body → target: field required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Appliance Wechat Bot Internal Error The Operation Failed Retry Is Safe",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "internal_error"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "internal_error",
                      "message": "Operation failed"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Appliance Wechat Bot The Wechat Client Is Not Ready The Instance Is Starting Up O",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Error Code For Programmatic Handling",
                          "example": "wechat_not_running"
                        },
                        "message": {
                          "type": "string",
                          "description": "Appliance Wechat Bot Human Readable Description Of The Failure"
                        }
                      }
                    }
                  },
                  "example": {
                    "error": {
                      "code": "wechat_not_running",
                      "message": "WeChat client is not ready"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "WeChatBotgetApiMessages"
      }
    },
    "/api/messages/poll": {
      "get": {
        "summary": "轮询新消息",
        "description": "Appliance Wechat Bot Real Time Receive Poll For Messages That Arrived After Since",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "description": "Appliance Wechat Bot Unix Timestamp Return Messages Newer Than This"
            },
            "description": "Appliance Wechat Bot Unix Timestamp Return Messages Newer Than This"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 500,
              "minimum": 1,
              "example": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appliance Wechat Bot Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Appliance Wechat Bot Message Id Unique Within The Conversation"
                      },
                      "conversation_id": {
                        "type": "string",
                        "description": "Appliance Wechat Bot Id Of The Conversation This Message Belongs To"
                      },
                      "contact_id": {
[...]
